﻿@model RMS_HIPAA.Models.SelfRiskAssessmentModel.SelfRiskAssessmentReportViewModel

@{
    ViewBag.Title = "PhysicalSelfRiskAssessmentReport";
    Layout = "~/Views/Shared/_LayoutPhysical.cshtml";
}

<style type="text/css">
    iframe {
        overflow: hidden;
        width: 100%;
        height: 80%;
        /*border: 1px solid #DEDEDE;*/
        background: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        position: absolute;
    }
</style>

<div class="main-content-inner">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-9">
                <div class="widget-box">
                    <div class="widget-header widget-header-small">
                        <h5 class="widget-title lighter">Self Risk Assessment Report</h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <form class="form-search">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-5 middle">
                                        <label class="col-sm-4 control-label no-padding-right middle" for="form-field-1">Select a Date</label>
                                        <div class="col-sm-8">
                                            <div class="input-group datepicker">
                                                @Html.TextBoxFor(m => m.FromDate, "{0:MM/dd/yyyy}", new { @id = "FromDate", @class = "form-control date-picker", @readonly = "readonly", data_date_format = "mm/dd/yyyy" })
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar bigger-110"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3">

                                        <div class="col-sm-12">
                                            <button type="button" id="ListReport" class="btn btn-sm btn-success">
                                                Run Report
                                                <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
        <iframe id="iframReportViewer" class="embed-responsive-item"></iframe>
    </div>
</div>

@section scripts

{

    <script>

        $(document).on('click', '#ListReport', function () {

            var dp = $("#FromDate").val();

            ReportValidationCheck(dp);
        });
        $(document).ready(function () {

            $("#FromDate").datepicker({
                autoclose: true,
                todayHighlight: true
            }).next().on('click', function () {
                $(this).prev().focus();
            });



        });




    </script>

    <script>

        function ReportValidationCheck(dp)

        {

            url = "../Reports/SelfRiskAssessmentListReport.aspx?FunctionType=Physical&FromDate="+ dp;

            var myframe = document.getElementById("iframReportViewer");

            if (myframe !== null) {

                if (myframe.src) {

                    myframe.src = url;

                }

                else if(myframe.contentWindow !== null && myframe.contentWindow.location !==null){

                    myframe.contentWindow.location = url;

                }

                myframe.setAttribute('src', url);

            }

            return false;

        }

    </script>

}




