﻿@{
    ViewBag.Title = "All Risk Assessment List Reports";
    Layout = "~/Views/Shared/_LayoutRRB.cshtml";
}

<style type="text/css">
    iframe {
        overflow: hidden;
        width: 100%;
        height: 80%;
        /*border: 1px solid #DEDEDE;*/
        background: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        position: absolute;
    }
</style>


<div class="main-content-inner">
    <div class="embed-responsive embed-responsive-4by3">
        <iframe id="iframReportViewer" class="embed-responsive-item"></iframe>
    </div>
</div>

@section scripts

{

    <script>

        $(document).ready(function () {

            ReportValidationCheck();

        });




    </script>

    <script>

        function ReportValidationCheck()

        {

            url = "../Reports/RiskAssessmentListReport.aspx?FunctionType=All&ExportType=PDF";

            var myframe = document.getElementById("iframReportViewer");

            if (myframe !== null) {

                if (myframe.src) {

                    myframe.src = url;

                }

                else if(myframe.contentWindow !== null && myframe.contentWindow.location !==null){

                    myframe.contentWindow.location = url;

                }

                myframe.setAttribute('src', url);

            }

            return false;

        }

    </script>

}