﻿@model RMS_HIPAA.Models.SelfRiskAssessmentModel.SelfRiskAssessmentQuestionsViewModel

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("AddSelfRiskAssessmentQuestion", "SelfRiskAssessment", null, FormMethod.Post, new { role = "form", @class = "form-horizontal", @id = "SRiskQuestionForm", @name = "SRiskQuestionForm" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">

                        <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                        &nbsp;Self Assessment Questions

                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.HiddenFor(model => model.RiskType)
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.Questions);
                                            @Html.TextBoxFor(m => m.Questions, "", new { @id = "Questions", @name = "Questions", @class = "form-control risk-field" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix form-actions risk-panel" style="color:white">
                    <div class="col-md-6">
                        <button id="saveSRiskQuestionBtn" class="btn btn-info btn-mini" type="button">
                            <i class="ace-icon fa fa-check"></i>
                            Save
                        </button>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    if("@Request.QueryString["risktype"]" != 'undefined')
    {
        $("#RiskType").val(@Request.QueryString["risktype"]);
    }



    $('#saveSRiskQuestionBtn').click(function (e) {
        var isValid = true;
        if($.trim($('#Questions').val()) == '')
        {
            isValid = false;
            $('#Questions').addClass('errorClass');
        }
        else
        {
            $('#Questions').removeClass('errorClass');
        }

        if(isValid)
        {
            var formData = $('#SRiskQuestionForm').serialize();
            var CurrentDialog = $("#addSelfRiskquestion");
            $.ajax({
                type: "post",
                data: formData,
                url: "../api/SelfRiskAssessmentDetails",
                dataType: "json",       //    if you want to return json data, enable this data type.
                success: function (data) {
                    var FunctionName = $("#RiskType").val();
                    CurrentDialog.dialog("close");
                    CurrentDialog.empty();
                    //alert(FunctionName);
                    DisplayLeaveRequests(FunctionName);
                    HIPAA.Alert("Self RiskAssessment Questions added successfully", "success");
                },
                error: function (request, status, error) {
                    HIPAA.Alert("Failed to add the Self RiskAssessment Questions", "danger");
                }
            });
        }
        else
        {
            e.preventDefault();
            return false;
        }
    });
</script>