﻿@model RMS_HIPAA.Models.SelfRiskAssessmentModel.SelfRiskAssessmentQuestionsViewModel

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("EditSelfRiskAssessmentQuestion", "SelfRiskAssessment", null, FormMethod.Post, new { role = "form", @class = "form-horizontal", @id = "SRiskQuestionForm", @name = "SRiskQuestionForm" }))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">

                        <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                        &nbsp;Self Assessment Questions

                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.RiskType)
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="col-md-12">
                                            @Html.LabelFor(m => m.Questions)
                                            @Html.TextBoxFor(m => m.Questions, "", new { @id = "Questions", @name = "Questions", @class = "form-control risk-field" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix form-actions risk-panel" style="color:white">
                    <div class="col-md-6">
                        <button id="saveSRiskQuestionBtn" class="btn btn-info btn-mini" type="button">
                            <i class="ace-icon fa fa-check"></i>
                            Save
                        </button>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<link href="~/Content/css/RMS/RiskAssessment.css" rel="stylesheet" />
<script type="text/javascript">
    if("@Request.QueryString["id"]" != 'undefined')
    {
        ShowDetails("@Request.QueryString["id"]");
    }
    else
    {
        HIPAA.Alert("Failed to load the Self RiskAssessment Questions", "danger");
        //$("#savePRiskAssessBtn").attr('disabled', 'disabled');
    }

    function ShowDetails(id) {

        var myurl = '../api/SelfRiskAssessmentDetails/' + id
        $.ajax(
        {
            url: myurl,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
               // alert(data.questions);
                $("#Id").val(data.id);
                $("#RiskType").val(data.riskType);
                $("#Questions").val(data.questions);
            },
            error: function (xhr, status, error) {
                HIPAA.Alert("Failed to load the Self RiskAssessment Questions", "danger");
            }
        });
    }

    $('#saveSRiskQuestionBtn').click(function (e) {
        var isValid = true;
        if($.trim($('#Questions').val()) == '')
        {
            isValid = false;
            $('#Questions').addClass('errorClass');
        }
        else
        {
            $('#Questions').removeClass('errorClass');
        }

        if(isValid)
        {
            var formData = $('#SRiskQuestionForm').serialize();
            var CurrentDialog = $("#editSelfRiskquestion");
            $.ajax({
                type: "put",
                data: formData,
                url: "../api/SelfRiskAssessmentDetails",
                dataType: "json",       //    if you want to return json data, enable this data type.
                success: function (data) {
                    var FunctionName = $("#RiskType").val();
                    CurrentDialog.dialog("close");
                    DisplayLeaveRequests(FunctionName);
                    HIPAA.Alert("Self RiskAssessment Questions updated successfully", "success");
                },
                error: function (request, status, error) {
                    HIPAA.Alert("Failed to save the Self RiskAssessment Questions", "danger");
                }
            });
        }
        else
        {
            e.preventDefault();
            return false;
        }
    });

</script>