﻿@{
    ViewBag.Title = "Self Risk Assessment Questions List";
    Layout = "~/Views/Shared/_LayoutTechnology.cshtml";
}

<div class="main-content-inner">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue"> </h3>
            <div class="table-header">
                Self Risk Assessment Questions List
            </div>
            <div>
                <button class="btn btn-sm btn-primary" type="submit" id="AddQuestionsButton" onclick="javascript: addSelfRiskAssessmentQuestion_Window('Technology');">
                    Add Questions
                </button>
            </div>
            <table id="TableList" class="table table-striped table-bordered table-hover">
                <thead style="background-color:red;">
                    <tr>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;" hidden>ID</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;" hidden>RiskType</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Serial #</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Questions</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Actions</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>
<div id="addSelfRiskquestion"></div>
<div id="editSelfRiskquestion"></div>

@section Scripts{

    @*@Scripts.Render("~/bundles/SelfRiskAssessment")*@
    <script type="text/javascript" src="~/Scripts/Areas/SelfRiskAssessment/SelfRiskAssessment.js"></script>
    <script type="text/javascript">
        window.AddSelfAssessmentQuestionsUrl = "@Url.Action("_addSelfRiskAssessmentQuestion", "SelfRiskAssessment")";
            $(document).ready(function () {
                DisplayLeaveRequests("Technology");
            });
    </script>
}









