﻿@using RMS_HIPAA.Infrastructure
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>RMS-HIPAA [Standard]</title>

    <meta name="description" content="Common form elements and layouts" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="../Content/css/bootstrap.css" />
    <link rel="stylesheet" href="../Content/css/font-awesome.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="../Content/css/jquery-ui.css" />
    <link rel="stylesheet" href="../Content/css/jquery-ui.custom.css" />
    <link rel="stylesheet" href="../Content/css/chosen.css" />
    <link rel="stylesheet" href="../Content/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="../Content/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="../Content/css/daterangepicker.css" />
    <link rel="stylesheet" href="../Content/css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" href="../Content/css/colorpicker.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="../Content/css/ace-fonts.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="../Content/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!-- Toast message css-->
    <link rel="stylesheet" href="../Content/css/jquery.toastmessage.css" />
    


</head>

<body class="no-skin">
    <!-- #section:basics/navbar.layout -->
    <div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <!-- #section:basics/sidebar.mobile.toggle -->
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" >
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <!-- /section:basics/sidebar.mobile.toggle -->
            <div class="navbar-header pull-left">
                <!-- #section:basics/navbar.layout.brand -->
                <a href="~/" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        RMS-HIPAA [Standard] - Administrative Risks
                    </small>
                </a>

                <!-- /section:basics/navbar.layout.brand -->
                <!-- #section:basics/navbar.toggle -->
                <!-- /section:basics/navbar.toggle -->
            </div>

            <!-- #section:basics/navbar.dropdown -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    @*<li class="grey">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-tasks"></i>
                            <span class="badge badge-grey">4</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-check"></i>
                                4 Tasks to complete
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Software Update</span>
                                                <span class="pull-right">65%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:65%" class="progress-bar"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Hardware Upgrade</span>
                                                <span class="pull-right">35%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Unit Testing</span>
                                                <span class="pull-right">15%</span>
                                            </div>

                                            <div class="progress progress-mini">
                                                <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">Bug Fixes</span>
                                                <span class="pull-right">90%</span>
                                            </div>

                                            <div class="progress progress-mini progress-striped active">
                                                <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See tasks with details
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="purple">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                8 Notifications
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                    New Comments
                                                </span>
                                                <span class="pull-right badge badge-info">+12</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="btn btn-xs btn-primary fa fa-user"></i>
                                            Bob just signed up as an editor ...
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                                    New Orders
                                                </span>
                                                <span class="pull-right badge badge-success">+8</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                                    Followers
                                                </span>
                                                <span class="pull-right badge badge-info">+11</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See all notifications
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                            <span class="badge badge-success">5</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-envelope-o"></i>
                                5 Messages
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="../Content/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Alex:</span>
                                                    Ciao sociis natoque penatibus et auctor ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>a moment ago</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="../Content/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Susan:</span>
                                                    Vestibulum id ligula porta felis euismod ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>20 minutes ago</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="../Content/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Bob:</span>
                                                    Nullam quis risus eget urna mollis ornare ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>3:15 pm</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="../Content/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Kate:</span>
                                                    Ciao sociis natoque eget urna mollis ornare ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>1:33 pm</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="clearfix">
                                            <img src="../Content/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />
                                            <span class="msg-body">
                                                <span class="msg-title">
                                                    <span class="blue">Fred:</span>
                                                    Vestibulum id penatibus et auctor  ...
                                                </span>

                                                <span class="msg-time">
                                                    <i class="ace-icon fa fa-clock-o"></i>
                                                    <span>10:09 am</span>
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="inbox.html">
                                    See all messages
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>*@

                    <!-- #section:basics/navbar.user_menu -->
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="../Content/avatars/user.jpg" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                @Html.UserDisplayName(User.Identity)
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Settings
                                </a>
                            </li>

                            <li>
                                <a href="profile.html">
                                    <i class="ace-icon fa fa-user"></i>
                                    Profile
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- /section:basics/navbar.user_menu -->
                </ul>
            </div>

            <!-- /section:basics/navbar.dropdown -->
        </div><!-- /.navbar-container -->
    </div>

    <!-- /section:basics/navbar.layout -->
    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
        </script>

        <!-- #section:basics/sidebar -->
        <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
            <script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
            </script>

            @*<div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <!-- #section:basics/sidebar.layout.shortcuts -->
                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>

                    <!-- /section:basics/sidebar.layout.shortcuts -->
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div>*@<!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="active">
                    <a href="~/RiskAssessment/AdministrativeRiskAssessmentKPI">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text">Dashboard </span>
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-folder-open"></i>
                        <span class="menu-text">
                            Risk Assessment
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="~/RiskAssessment/NewAdministartiveRiskAssessment">
                                <i class="menu-icon fa fa-folder-o"></i>
                                New Risk
                                                         
                            </a>
                                                   

                        </li>
                        <li class="">
                            <a href="~/RiskAssessment/AdministrativeRiskAssessment">
                                <i class="menu-icon fa fa-folder-o"></i>
                                Edit Risk
                               
                            </a>
                            

                        </li>
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-folder-open-o"></i>
                                View Risk
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="~/RiskAssessment/AllAdministrativeRiskAssessment">
                                        <i class="menu-icon fa fa-file-o"></i>
                                        - All
                                    </a>

                                    
                                </li>
                                <li class="">
                                    <a href="~/RiskAssessment/OpenAdministrativeRiskAssessment">
                                        <i class="menu-icon fa fa-file-o"></i>
                                        - Open
                                    </a>

                                    
                                </li>
                                <li class="">
                                    <a href="~/RiskAssessment/InProgressAdministrativeRiskAssessment">
                                        <i class="menu-icon fa fa-file-o"></i>
                                        - Inprogress
                                    </a>

                                    
                                </li>

                                <li class="">
                                    <a href="~/RiskAssessment/ClosedAdministrativeRiskAssessment">
                                        <i class="menu-icon fa fa-file-o"></i>
                                        - Closed
                                    </a>


                                </li>

                                
                            </ul>
                        </li>

                        <li class="">
                            <a href="~/SelfRiskAssessmentTest/AdministrativeSelfRiskAssessmentTest">
                                <i class="menu-icon fa fa-folder-o"></i>
                                Self Risk Assessment
                            </a>
                        </li>

                    </ul>
                </li>

               

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-folder-open"></i>
                        <span class="menu-text">
                            Reports
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="~/Reports/AdministrativeRiskAssessmentReport">
                                <i class="menu-icon fa fa-folder-o"></i>
                                - Risk Grid View Report
                            </a>
                        </li>
                        <li class="">
                            <a href="~/Reports/AdministrativeRiskAssessmentPDFReport" >
                                <i class="menu-icon fa fa-folder-o"></i>
                                - Risk Page View Report

                            </a>
                        </li>
                        <li class="">
                            <a href="~/Reports/AdministrativeSelfRiskAssessmentReport">
                                <i class="menu-icon fa fa-folder-o"></i>
                                - Self Risk Assessment Report

                            </a>
                        </li>
                        <li class="">
                            <a href="~/Reports/AdministrativeRiskAssessmentKPIReport" >
                                <i class="menu-icon fa fa-folder-o"></i>
                                - Risk Indicators Page View Report

                            </a>
                        </li>
                    </ul>


                </li>
                
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-folder-open"></i>
                        <span class="menu-text">
                            System Configuration
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <ul class="submenu">
                        <li class="">
                            <a href="~/SelfRiskAssessment/AdministrativeSelfRiskAssessmentQuestions">
                                <i class="menu-icon fa fa-folder-o"></i>
                                - Update Self Risk Assessment Questions
                            </a>
                        </li>
                    </ul>

                </li> 
            </ul> <!-- /.nav-list -->
            <!-- #section:basics/sidebar.layout.minimize -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <!-- /section:basics/sidebar.layout.minimize -->
        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">
            @RenderBody()            
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <!-- #section:basics/footer -->
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">RMS</span>
                        -HIPAA &copy; 2016
                    </span>

                    @*&nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>*@
                </div>

                <!-- /section:basics/footer -->
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    @Scripts.Render("~/bundles/jqueryJS")

    <!--[if !IE]> -->
    <!--<script src="../Scripts/jquery.js"></script>-->
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="../Scripts/jquery1x.js"></script>
    <![endif]-->
    <script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../Scripts/jquery.mobile.custom.js'>"+"<"+"/script>");
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    <!--<script src="../Scripts/bootstrap.js"></script>-->

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="../Scripts/excanvas.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/jqueryPackage")
    @Scripts.Render("~/bundles/HIPAA_Alert")
    <!--
    <script src="../Scripts/jquery-ui.js"></script>
    <script src="../Scripts/jquery-ui.custom.js"></script>
    <script src="../Scripts/jquery.ui.touch-punch.js"></script>
    <script src="../Scripts/chosen.jquery.js"></script>
    <script src="../Scripts/fuelux/fuelux.spinner.js"></script>
    <script src="../Scripts/date-time/bootstrap-datepicker.js"></script>
    <script src="../Scripts/date-time/bootstrap-timepicker.js"></script>
    <script src="../Scripts/date-time/moment.js"></script>
    <script src="../Scripts/date-time/daterangepicker.js"></script>
    <script src="../Scripts/date-time/bootstrap-datetimepicker.js"></script>
    <script src="../Scripts/bootstrap-colorpicker.js"></script>
    <script src="../Scripts/jquery.knob.js"></script>
    <script src="../Scripts/autosize.js"></script>
    <script src="../Scripts/jquery.inputlimiter.1.3.1.js"></script>
    <script src="../Scripts/jquery.maskedinput.js"></script>
    <script src="../Scripts/bootstrap-tag.js"></script>
    <script src="../Scripts/jquery.toastmessage.js"></script>    
    <script src="../Scripts/HIPAA/HIPAA.Alert.js"></script>    
    <script src="../Scripts/dataTables/jquery.dataTables.js"></script>   
    <script src="../Scripts/dataTables/jquery.dataTables.bootstrap.js"></script>   
    -->
     @*ace scripts*@
    @Scripts.Render("~/bundles/ace")
    <!--
    <script src="../Scripts/ace/elements.scroller.js"></script>
    <script src="../Scripts/ace/elements.colorpicker.js"></script>
    <script src="../Scripts/ace/elements.fileinput.js"></script>
    <script src="../Scripts/ace/elements.typeahead.js"></script>
    <script src="../Scripts/ace/elements.wysiwyg.js"></script>
    <script src="../Scripts/ace/elements.spinner.js"></script>
    <script src="../Scripts/ace/elements.treeview.js"></script>
    <script src="../Scripts/ace/elements.wizard.js"></script>
    <script src="../Scripts/ace/elements.aside.js"></script>
    <script src="../Scripts/ace/ace.js"></script>
    <script src="../Scripts/ace/ace.ajax-content.js"></script>
    <script src="../Scripts/ace/ace.touch-drag.js"></script>
    <script src="../Scripts/ace/ace.sidebar.js"></script>
    <script src="../Scripts/ace/ace.sidebar-scroll-1.js"></script>
    <script src="../Scripts/ace/ace.submenu-hover.js"></script>
    <script src="../Scripts/ace/ace.widget-box.js"></script>
    <script src="../Scripts/ace/ace.settings.js"></script>
    <script src="../Scripts/ace/ace.settings-rtl.js"></script>
    <script src="../Scripts/ace/ace.settings-skin.js"></script>
    <script src="../Scripts/ace/ace.widget-on-reload.js"></script>
    <script src="../Scripts/ace/ace.searchbox-autocomplete.js"></script>
    -->
   
    @RenderSection("Scripts", false)

</body>
</html>
