﻿
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()

    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li class="grey">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="ace-icon fa fa-check-square-o"></i>
                    <span class="badge @ViewBag.TaskBadge">@ViewBag.AllOpenTaskCount</span>
                </a>

                <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                    <li class="dropdown-header">
                        <i class="ace-icon fa fa-check"></i>
                        @ViewBag.AllOpenTaskCount Task(s) To Complete
                    </li>

                    <li>
                        <div class="clearfix">
                            <span class="pull-left">This Week's Tasks</span>
                            <span class="pull-right">@ViewBag.WeekTaskPercent%</span>
                        </div>

                        <div class="progress progress-mini">
                            <div style="width:@ViewBag.WeekTaskPercent%" class="progress-bar progress-bar-success"></div>
                        </div>
                    </li>

                    <li>
                        <div class="clearfix">
                            <span class="pull-left">Next Task Due</span>
                            <span class="pull-right">@ViewBag.NextDue</span>
                        </div>
                    </li>

                    <li>
                        <div class="clearfix">
                            <span class="pull-left">Overdue Tasks</span>
                            <span class="pull-right">@ViewBag.OverdueTaskCount</span>
                        </div>
                    </li>

                  

                    <li class="dropdown-footer">
                        <a href="~/Task/Index">
                            See tasks with details
                            <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="purple">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                    <span class="badge badge-important">@ViewBag.NewAuditAssignedCount</span>
                </a>

                @if (ViewBag.NewAuditAssignedCount > 0)
                {
                    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                            @ViewBag.NewAuditAssignedCount Notifications
                        </li>

                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">
                                        <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                        New Audit Assigned
                                    </span>
                                    <span class="pull-right badge badge-success">@ViewBag.NewAuditAssignedCount</span>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-footer">
                            <a href="~/Notifications/Notifications">
                                See all notifications
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                }
            </li>

            <li class="light-blue">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo" src="/Content/images/user.png" />
                    <span class="user-info">
                        <small>Welcome,</small>
                        @*@Html.UserFullName(User.Identity)*@
                        Risk Manager
                    </span>

                    <i class="ace-icon fa fa-caret-down"></i>
                </a>

                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        <a href="~/Manage/Settings">
                            <i class="ace-icon fa fa-cog"></i>
                            Settings
                        </a>
                    </li>

                    <li>
                        <a href="~/Manage/Index">
                            <i class="ace-icon fa fa-user"></i>
                            Profile
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <i class="ace-icon fa fa-power-off"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
}