﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <title>RMS-HIPAA [Standard] | Home page</title>

    <!-- bootstrap & fontawesome -->
    
    <link href="~/Content/freelancer/bootstrap.min.css" rel="stylesheet" />
    <!-- freelancer styles -->
    
    <link href="~/Content/css/freelancer.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->

    <style>
        .landing-page {
            /*background: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg") no-repeat center;*/
            background: url("/Content/images/meteorshower.jpg") no-repeat center;
            min-height: 662px;
            background-size: 100% 100%;
        }
    </style>


</head>

<body id="page-top" class="index">
    <nav class="navbar navbar-shrink navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll  smaller">
               
               
                <h3 style="text-align:center;color:white;font-size:larger;">RMS-HIPAA [Standard] V2.0</h3>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
           
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
   

    <!-- Applications Grid Section -->
    <div class="landing-page">
        <section id="applications">


            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <p></p>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2">
                    <a href="~/RiskAssessment/TechnologyRiskAssessmentKPI" class="portfolio-link img-responsive" style="vertical-align: middle;">
                        <p style="text-align:center;color:white;font-size:medium;"><i class="fa">Technology Risks Assessment</i></p>
                        <img src="~/Content/images/Risk.png" class="img-responsive" alt="Technology Risks" id="RMS_Image" title="Technology Risks">
                        
                    </a>
                </div>

                <div class="col-sm-5 col-md-5 col-lg-5">
                    <p></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <p></p>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <a href="~/RiskAssessment/AdministrativeRiskAssessmentKPI" class="portfolio-link img-responsive" style="vertical-align: middle;">
                        <p style="text-align:center;color:white;font-size:medium;"><i class="fa">Administrative Risks Assessment</i></p>
                        <img src="~/Content/images/Policies.png" class="img-responsive" alt="Administrative Risks" id="HPM_Image" title="Administrative Risks">
                        
                    </a>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2">
                    <p></p>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2">
                    <a href="~/RiskAssessment/PhysicalRiskAssessmentKPI" class="portfolio-link img-responsive" style="vertical-align: middle;">
                        <p style="text-align:center;color:white;font-size:medium;"><i class="fa">Physical Risks Assessment</i></p>
                        <img src="~/Content/images/Contrats.png" class="img-responsive" alt="Physical Risks" id="Audit_Image" title="Physical Risks">
                        
                    </a>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <p></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <p></p>
                </div>

                <div class="col-sm-2 col-md-2 col-lg-2">
                    
                    <a href="~/RiskReviewBoard/RiskReviewBoardView" class="portfolio-link img-responsive" style="vertical-align: middle;">
                        <p style="text-align:center;color:white;font-size:medium;"><i class="fa">Risk Review Board</i></p>
                        <img src="~/Content/images/Audits.png" class="img-responsive" alt="Risk Review Board" id="SOP_Image" title="Risk Review Board">
                        
                    </a>
                </div>

                <div class="col-sm-5 col-md-5 col-lg-5">
                    <p></p>
                </div>
            </div>





        </section>
    </div>
    <!-- About Section -->
    @*<section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Governance Risk & Compliance is a suite solution of management applications designed to help with dealing with Audits, Incidents in a Hospital or Organization, Policy Management and more.</p>
                </div>
            </div>
        </div>
    </section>*@

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; HealthDox 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    @Scripts.Render("~/bundles/jqueryJS")
    @Scripts.Render("~/bundles/jqueryPackage")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/Scripts/jquery.easing.min.js")
    @Scripts.Render("~/Scripts/classie.js")
    @Scripts.Render("~/Scripts/cbpAnimatedHeader.js")
    @Scripts.Render("~/Scripts/freelancer.js")*@
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Scripts/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
</body>
</html>


