﻿@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="~/Scripts/TweenLite.min.js"></script>
    <script type="text/javascript" src="~/Scripts/TweenMax.min.js"></script>
    @Scripts.Render("~/bundles/jqueryJS")
    <!--<script src="~/Scripts/jquery.js"></script>-->
    <title>RMS-HIPAA Home Page</title>
    <style>
        body {
            margin: 0;
            background-color: #369;
            overflow: auto;
        }

        #btn1 {
            background: #6C0;
            height: 200px;
            width: 400px;
            position: relative;
            margin-left: 10px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        #btn2 {
            background: #C30;
            height: 200px;
            width: 400px;
            position: relative;
            margin-left: 10px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        /*#btn3 {
            background: #F60;
            border-color: #F60;
            height: 200px;
            width: 200px;
            position: relative;
            margin-left: 10px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }*/

        #btn4 {
            background: #C3C;
            border-color: #F60;
            height: 200px;
            width: 400px;
            position: relative;
            margin-left: 10px;
            margin-top: 30px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        #btn5 {
            background: #F36;
            border-color: #F60;
            height: 200px;
            width: 400px;
            position: relative;
            margin-left: 10px;
            margin-top: 30px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }

        /*#btn6 {
            background: #6C0;
            height: 200px;
            width: 200px;
            position: relative;
            margin-left: 10px;
            margin-top: 30px;
            left: 900px;
            cursor: pointer;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            line-height: 300px;
            padding-left: 10px;
            text-align: left;
        }*/

        #content {
            background: #369;
            height: 480px;
            width: 750px;
            position: relative;
            top: 500px;
            z-index: 0;
        }

        #backbutton {
            position: relative;
            left: 760px;
            cursor: pointer;
        }

        #caption {
            position: relative;
            top: -60px;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }

        #pagecaption {
            position: relative;
            top: -60px;
            color: #FFF;
            font-size: 25px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }
    </style>
</head>

<body link="#FFFFFF">
    <!--header-->
    <div style="width:100%; height:80px; overflow:hidden; margin: 0 auto; background-color:#333">

        <div style="width:750px; height:80px; margin: 0 auto; overflow:hidden; position:relative">

            <div id="caption" style="height:44px; margin-top:20px;float:left; margin-left:12px; position:absolute"> RMS-HIPAA </div>

            <div id="backbutton" style="height:44px; width:44px; margin-top:15px; float:left; position:absolute"> <img src="imgs/backbtn.png" width="44" height="44" /> </div>

            <div id="pagecaption" style="height:44px; margin-top:20px;float:left; margin-left:12px; position:absolute"> Caption </div>
        </div>

    </div>

    <!--buttons-->
    <div style="width:900px; height:450px; overflow:hidden; margin: 0 auto; position:relative; margin-top:35px;">
        
        <a href="~/RiskAssessment/TechnologyRiskAssessmentKPI"><div id="btn1" style="float:left"> <p> Technology Risk Assessment </p> </div> </a>
        <a href="~/RiskAssessment/PhysicalRiskAssessmentKPI"><div id="btn2" style="float:left"> <p> Physical Risk Assessment </p> </div> </a>
       
        <a href="~/RiskAssessment/AdministrativeRiskAssessmentKPI"><div id="btn4" style="float:left"> <p> Administrative Risk Assessment </p> </div> </a>
        <a href="~/RiskReviewBoard/RiskReviewBoardView"><div id="btn5" style="float:left"> <p> Risk Review Board </p> </div> </a>
      
        <div id="content" style="position:absolute"> <iframe name="main" frameborder=0 height=450 width=750></iframe>  </div>

    </div>

    <!--footer-->
    <div style="width:100%; height:220px; overflow:hidden; margin: 0 auto; background-color:#333; margin-top:20px;">
        <div style="width:750px; height:80px; margin: 0 auto;">
            <p style="text-align:center; color:#FFF; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size:x-small">Copyright &copy; HealthDox 2016</p>            
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            TweenLite.to($("#caption"), 2, { css: { top: 0 }, delay: 1, ease: Power2.easeOut });
            TweenLite.to($("#btn1"), 2, { css: { left: 0 }, delay: 2, ease: Power2.easeOut });
            TweenLite.to($("#btn2"), 2, { css: { left: 40 }, delay: 2.5, ease: Power2.easeOut });
            //TweenLite.to($("#btn3"), 2, { css: { left: 40 }, delay: 3, ease: Power2.easeOut });
            TweenLite.to($("#btn4"), 2, { css: { left: 0 }, delay: 3.5, ease: Power2.easeOut });
            TweenLite.to($("#btn5"), 2, { css: { left: 40 }, delay: 4, ease: Power2.easeOut });
            //TweenLite.to($("#btn6"), 2, { css: { left: 40 }, delay: 4.5, ease: Power2.easeOut });

        });


       
    </script>

</body>
</html>






