﻿
@model RMS_HIPAA.Models.AssetInventoryModel.HardwareInventoryViewModel

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("editHWItemform", "Inventory", null, FormMethod.Post, new { role = "form", @class = "form-horizontal", @id = "editHWItemForm", @name = "editHWItemForm" }))
        {
        <div id="accordion" class="accordion-style1 panel-group">
            <div class="panel panel-default risk-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                            &nbsp;Hardware Inventory Details
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseOne">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.HiddenFor(model => model.Id)
                                    <div class="col-md-3">
                                        @Html.LabelFor(m => m.AssetId)
                                        @Html.TextBoxFor(m => m.AssetId, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(m => m.AssetClass)
                                        @Html.DropDownListFor(m => m.AssetClass, Model.AssetClassList, "Select a Asset Class...", new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(m => m.SystemName);
                                        @Html.TextBoxFor(m => m.SystemName, "", new { @class = "form-control risk-field"})
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(m => m.Model);
                                        @Html.TextBoxFor(m => m.Model, "", new { @class = "form-control risk-field"})
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-9">
                                        @Html.LabelFor(m => m.Description)
                                        <br />
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control risk-field" })
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.HardwareCriticality)
                                        @Html.DropDownListFor(m => m.HardwareCriticality, Model.HardwareCriticalityList, "Select an option...", new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.Type);
                                        @Html.TextBoxFor(m => m.Type, "", new { @class = "form-control risk-field"})
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.RiskAssessFreq)
                                        @Html.DropDownListFor(m => m.RiskAssessFreq, Model.RiskAssessFreqList, "Select an option...", new { @class = "form-control chosen-select" })
                                    </div>
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.BusinessFunction)
                                        @Html.DropDownListFor(m => m.BusinessFunction, Model.BusinessFunctionList, "Select an option...", new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.BusinessOwnerName)
                                        @Html.TextBoxFor(m => m.BusinessOwnerName, "", new { @class = "form-control risk-field"})
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.Department)
                                        @Html.DropDownListFor(m => m.Department, Model.DepartmentList, "Select an option...", new { @class = "form-control chosen-select" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix form-actions risk-panel" style="color:white">
                            <div class="col-md-offset-10 ">
                                <button id="editHWItemBtn" class="btn btn-info btn-mini" type="button">
                                    <i class="ace-icon fa fa-check"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        }
    </div>
</div>

<link href="~/Content/css/RMS/RiskAssessment.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/RiskAssessment")
<script type="text/javascript">

    ShowDetails("@Request.QueryString["id"]");

    function ShowDetails(id) {

        var myurl = '../api/HardwareInventoryDetails/' + id
        $.ajax(
        {
            url: myurl,
            type: 'GET',
            dataType: 'json',
            success: function (data) {               
                $("#Id").val(data.id);                
                $("#AssetId").val(data.assetId);
                $("#SystemName").val(data.systemName);
                $("#Description").val(data.description);
                $("#Model").val(data.model);
                $("#Type").val(data.type);
                $("#BusinessOwnerName").val(data.businessOwnerName);

                if(data.assetClass != null)
                {
                    $("#AssetClass").val(data.assetClass);
                    $('#AssetClass').trigger("chosen:updated");
                }
                
                if(data.hardwareCriticality != null)
                {
                    $("#HardwareCriticality").val(data.hardwareCriticality);
                    $('#HardwareCriticality').trigger("chosen:updated");
                }
               

                if(data.riskAssessFreq != null)
                {
                    $("#RiskAssessFreq").val(data.riskAssessFreq);
                    $('#RiskAssessFreq').trigger("chosen:updated");
                }
                if(data.businessFunction != null)
                {
                    $("#BusinessFunction").val(data.businessFunction);
                    $('#BusinessFunction').trigger("chosen:updated");
                }
                if(data.department != null)
                {
                    $("#Department").val(data.department);
                    $('#Department').trigger("chosen:updated");
                }

            },
            error: function (xhr, status, error) {

                HIPAA.Alert("Failed to load the AdministrativeRiskAssessment details", "danger");
            }
        });
    }

    $("#editHWItemBtn").click(function (e) {
                var formData = $('#editHWItemForm').serialize();
                $.ajax({
                    type: "PUT",
                    data: formData,
                    url: "../api/HardwareInventoryDetails",
                    dataType: "json",       //    if you want to return json data, enable this data type.
                    success: function (data) {
                        $("#editHWInventoryItem").dialog("close");
                        $("#editHWInventoryItem").empty();
                        HIPAA.Alert("Hardware asset inventory details saved successfully", "success");
                        DisplayHardwareInventory();
                    },
                    error: function (request, status, error) {
                        $("#editHWInventoryItem").dialog("close");
                        HIPAA.Alert("Failed to save the Hardware asset inventory details", "danger");
                    }
                });
            });

</script>


