﻿@model RMS_HIPAA.Models.AssetInventoryModel.SoftwareInventoryViewModel

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("editSWItemform", "Inventory", null, FormMethod.Post, new { role = "form", @class = "form-horizontal", @id = "editSWItemForm", @name = "editSWItemForm" }))
        {
        <div id="accordion" class="accordion-style1 panel-group">
            <div class="panel panel-default risk-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                            &nbsp;Software Inventory Details
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseOne">
                    <div class="panel-body">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.HiddenFor(model => model.Id)
                                    <div class="col-md-3">
                                        @Html.LabelFor(m => m.AssetId)
                                        @Html.TextBoxFor(m => m.AssetId, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(m => m.AssetClass)
                                        @Html.DropDownListFor(m => m.AssetClass, Model.AssetClassList, "Select a Asset Class...", new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(m => m.ApplicationName);
                                        @Html.TextBoxFor(m => m.ApplicationName, "", new { @class = "form-control risk-field"})
                                    </div>
                                    <div class="col-md-3">
                                        @Html.LabelFor(m => m.Os)
                                        @Html.DropDownListFor(m => m.Os, Model.OSList, "Select a Asset Class...", new { @class = "form-control chosen-select" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-9">
                                        @Html.LabelFor(m => m.Description)
                                        <br />
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control risk-field" })
                                    </div>
                                    <div class="col-md-3">
                                        <br />
                                        @Html.LabelFor(m => m.Shared)
                                        &nbsp;&nbsp;
                                        @Html.RadioButtonFor(model => model.Shared, "Yes", new { name = "Shared" }) Yes
                                        &nbsp;&nbsp;
                                        @Html.RadioButtonFor(model => model.Shared, "No", new { name = "Shared" }) No
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.ApplicationCriticality)
                                        @Html.DropDownListFor(m => m.ApplicationCriticality, Model.ApplicationCriticalityList, "Select an option...", new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.DataClassification)
                                        @Html.DropDownListFor(m => m.DataClassification, Model.DataClassificationList, "Select an option...", new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.RiskAssessFreq)
                                        @Html.DropDownListFor(m => m.RiskAssessFreq, Model.RiskAssessFreqList, "Select an option...", new { @class = "form-control chosen-select" })
                                    </div>
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.BusinessFunction)
                                        @Html.DropDownListFor(m => m.BusinessFunction, Model.BusinessFunctionList, "Select an option...", new { @class = "form-control chosen-select" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.BusinessOwnerName)
                                        @Html.TextBoxFor(m => m.BusinessOwnerName, "", new { @class = "form-control risk-field"})
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(m => m.Department)
                                        @Html.DropDownListFor(m => m.Department, Model.DepartmentList, "Select an option...", new { @class = "form-control chosen-select" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix form-actions risk-panel" style="color:white">
                            <div class="col-md-offset-10 ">
                                <button id="editSWItemBtn" class="btn btn-info btn-mini" type="button">
                                    <i class="ace-icon fa fa-check"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        }
    </div>
</div>

<link href="~/Content/css/RMS/RiskAssessment.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/RiskAssessment")
<script type="text/javascript">
       
    ShowDetails("@Request.QueryString["id"]");

    function ShowDetails(id) {
        
        var myurl = '../api/SoftwareInventoryDetails/' + id
        $.ajax(
        {
            url: myurl,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                
                $("#Id").val(data.id);
                $("#AssetId").val(data.assetId);
                $("#ApplicationName").val(data.applicationName);                
                $("#Description").val(data.description);
                $("#Shared").val(data.shared);
                $('input[name="Shared"][value="' + data.shared + '"]').prop('checked', true);
                $("#BusinessOwnerName").val(data.businessOwnerName);
                
                if(data.assetClass != null)
                {
                    $("#AssetClass").val(data.assetClass);
                    $('#AssetClass').trigger("chosen:updated");
                }
                if(data.os != null)
                {
                    $("#Os").val(data.os);
                    $('#Os').trigger("chosen:updated");
                }
                if(data.applicationCriticality != null)
                {
                    $("#ApplicationCriticality").val(data.applicationCriticality);
                    $('#ApplicationCriticality').trigger("chosen:updated");
                }
                if(data.dataClassification != null)
                {
                    $("#DataClassification").val(data.dataClassification);
                    $('#DataClassification').trigger("chosen:updated");
                }
               
                if(data.riskAssessFreq != null)
                {
                    $("#RiskAssessFreq").val(data.riskAssessFreq);
                    $('#RiskAssessFreq').trigger("chosen:updated");
                }
                if(data.businessFunction != null)
                {
                    $("#BusinessFunction").val(data.businessFunction);
                    $('#BusinessFunction').trigger("chosen:updated");
                }
                if(data.department != null)
                {
                    $("#Department").val(data.department);
                    $('#Department').trigger("chosen:updated");
                }
                
            },
            error: function (xhr, status, error) {

                HIPAA.Alert("Failed to load the AdministrativeRiskAssessment details", "danger");
            }
        });
    }

    $("#editSWItemBtn").click(function (e) {
                var formData = $('#editSWItemForm').serialize();
                $.ajax({
                    type: "PUT",
                    data: formData,
                    url: "../api/SoftwareInventoryDetails",
                    dataType: "json",       //    if you want to return json data, enable this data type.
                    success: function (data) {
                        $("#editSWInventoryItem").dialog("close");
                        $("#editSWInventoryItem").empty();
                        HIPAA.Alert("Software asset inventory details saved successfully", "success");
                        DisplaySoftwareInventory();
                    },
                    error: function (request, status, error) {
                        $("#editSWInventoryItem").dialog("close");
                        HIPAA.Alert("Failed to save the Software asset inventory details", "danger");
                    }
                });
            });
      
</script>


