﻿
@{
    ViewBag.Title = "HardwareInventoryView";
    Layout = "~/Views/Shared/_LayoutTechnology.cshtml";
}

@Scripts.Render("~/bundles/jqueryJS")
@Scripts.Render("~/bundles/jqueryPackage")

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-folder-open-o"></i>
                <a href="#">Asset Inventory</a>
            </li>

            <li>
                <i class="ace-icon fa fa-file-text"></i>
                <a href="#">Hardware Asset</a>
            </li>

        </ul>
    </div>
    <div class="row">
        <div class="col-xs-12">

           
            <table id="HardwareInventoryTable" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead style="background-color:red;">
                    <tr>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">ID</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Asset Id</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Asset Class</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Host Name</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Description</td>                       
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Make/Model</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Type</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Hardware Criticality</td>                        
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Risk assess frequencey</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Business Function</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Business Owner</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Department</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Actions</td>
                    </tr>
                </thead>

            </table>

        </div>
    </div>
</div>
<div id="addHWInventoryItem"></div>
<div id="editHWInventoryItem"></div>
 @section Scripts{

        @Scripts.Render("~/bundles/RiskAssessment")
<!--<script type="text/javascript" src="~/Scripts/Areas/RiskAssessment/RiskAssessment.js"></script>-->
<script type="text/javascript">
    $(document).ready(function () {

                DisplayHardwareInventory();
            });
</script>
    }

