﻿.label-0{ font-size: 2em; cursor: pointer;  }
.label-1{ font-size: 1.5em; fill: #111; cursor: pointer; }
.label-2{ font-size: 1em; fill: #444; cursor: pointer; }
.label-3{ font-size: .9em; fill: #888; cursor: pointer; }
.label-4{ font-size: .8em; fill: #aaa; cursor: pointer; }

.link-0{ stroke: #000;stroke-width: 2px;}
.link-1{ stroke: #333; stroke-width: 1px}
.link-2, .link-3, .link-4{ stroke: #666; stroke-width: 0.5px; }