﻿body {
}

.risk-panel{
    border:2px solid !important;
    border-color:#36648B !important;
    background-color:#36648B !important;
   
}

.risk-field{
   border:solid 1px !important;   
}

.errorClass{
    border: 1px solid red !important;
    border-color:red !important;  
}