﻿
@model RMS_HIPAA.Models.RiskAssessmentModel.RiskAssessmentViewModel

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("VRiskAssessment", "RiskAssessment", null, FormMethod.Post, new { role = "form", @class = "form-horizontal", @id = "TRiskForm", @name = "TRiskForm" }))
        {

            <div id="accordion" class="accordion-style1 panel-group">
                <div class="panel panel-default risk-panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                &nbsp;Risk Assessment
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseOne">
                        <div class="panel-body">
                            <div class="row">
                                @Html.HiddenFor(model => model.RiskAssessmentId)
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.RiskId);
                                                    @Html.TextBoxFor(m => m.RiskId, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.RiskAgent)
                                                    @Html.TextBoxFor(m => m.RiskAgent, "", new { @class = "form-control risk-field", @readonly = "readonly" })                                                    
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.DepartmentName)
                                                    @Html.TextBoxFor(m => m.DepartmentName, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.AssetName)
                                                    @Html.TextBoxFor(m => m.AssetName, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.Owner)
                                                    @Html.TextBoxFor(m => m.Owner, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.AssessedDate)
                                                    @Html.TextBoxFor(m => m.AssessedDateVal, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                    
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.RiskInput)
                                                    @Html.TextBoxFor(m => m.RiskInput, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                   
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.ThreatSource)
                                                    @Html.TextBoxFor(m => m.ThreatSource, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-md-6">
                                                    @Html.LabelFor(m => m.RiskDescription)
                                                    <br />
                                                    @Html.TextAreaFor(m => m.RiskDescription, new { @class = "form-control risk-field", @readonly = "readonly" })
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.LabelFor(m => m.ThreatVulnerabilityDescription)
                                                    <br />
                                                    @Html.TextAreaFor(m => m.ThreatVulnerabilityDescription, new { @class = "form-control risk-field", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-md-9">
                                                    @Html.LabelFor(m => m.ExistingControls)
                                                    <br />
                                                    @Html.TextAreaFor(m => m.ExistingControls, new { @class = "form-control risk-field", @readonly = "readonly" })
                                                </div>
                                                <div class="col-md-3">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.RiskImpactCategory)
                                                    @Html.TextBoxFor(m => m.RiskImpactCategory, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                   
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.ProbabilityofOccurence)
                                                    @Html.TextBoxFor(m => m.ProbabilityofOccurence, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                    @Html.TextBoxFor(m => m.ProbabilityofOccurenceValue, "", new { @class = "form-control hidden" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.ImpactLevel)
                                                    @Html.TextBoxFor(m => m.ImpactLevel, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                    @Html.TextBoxFor(m => m.ImpactLevelValue, "", new { @class = "form-control hidden" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.RiskExposureLevel)
                                                    @Html.TextBoxFor(m => m.RiskExposureLevel, "", new { @class = "form-control hidden" })
                                                    @if (Model.RiskExposureLevel == "Low")
                                                    {
                                                        <div id="lowCondition" >
                                                            &nbsp;
                                                            <img src="~/Content/images/greenBulb.png" width="34" height="34" />
                                                            <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                            <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        </div>
                                                    }
                                                    @if (Model.RiskExposureLevel == "Medium")
                                                    {
                                                        <div id="mediumCondition">
                                                            &nbsp;
                                                            <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                            <img src="~/Content/images/yellowBulb.png" width="34" height="34" />
                                                            <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        </div>
                                                    }
                                                    @if (Model.RiskExposureLevel == "High")
                                                    {
                                                        <div id="highCondition">
                                                            &nbsp;
                                                            <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                            <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                            <img src="~/Content/images/redBulb.png" width="34" height="34" />
                                                        </div>
                                                    }
                                                    @*<div id="defaultCondition">
                                                        &nbsp;
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    </div>*@
                                                    @*<div id="lowCondition" hidden>
                                                        &nbsp;
                                                        <img src="~/Content/images/greenBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    </div>*@
                                                    
                                                    @*<div id="mediumCondition" hidden>
                                                        &nbsp;
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/yellowBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    </div>*@
                                                    @*<div id="highCondition" hidden>
                                                        &nbsp;
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/redBulb.png" width="34" height="34" />
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default risk-panel">
                    <div class="panel-heading">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                    &nbsp;Risk Treatment
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapseTwo">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="col-md-9">
                                                        @Html.LabelFor(m => m.ActionProposed)
                                                        <br />
                                                        @Html.TextAreaFor(m => m.ActionProposed, new { @class = "form-control risk-field", row = 2, @readonly = "readonly" })
                                                    </div>
                                                    <div class="col-md-3">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(m => m.Responsible)
                                                        @Html.TextBoxFor(m => m.Responsible, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(m => m.TargetDate)
                                                        @Html.TextBoxFor(m => m.TargetDateVal, "", new { @class = "form-control risk-field", @readonly = "readonly" })

                                                       
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(m => m.TargetQurter)
                                                        @Html.TextBoxFor(m => m.TargetQurter, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                       
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(m => m.ResponsibleDepartment)
                                                        @Html.TextBoxFor(m => m.ResponsibleDepartment, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default risk-panel">
                    <div class="panel-heading">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                    &nbsp;Risk Response
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapseThree">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.RiskResponse)
                                                        @Html.TextBoxFor(m => m.RiskResponse, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                        

                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.Status)
                                                        @Html.TextBoxFor(m => m.Status, "", new { @class = "form-control risk-field", @readonly = "readonly" })

                                                    </div>
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.ClosedDate)
                                                        @Html.TextBoxFor(m => m.ClosedDateVal, "", new { @class = "form-control risk-field", @readonly = "readonly" })


                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
                <div class="clearfix form-actions risk-panel" style="color:white">
                    <div class="col-md-6">
                        <button id="closeBtn" class="btn btn-info btn-mini" type="button">
                            <i class="ace-icon fa fa-check"></i>
                            Ok
                        </button>

                    </div>
                </div>


        }
    </div>
   
</div>
<link href="~/Content/css/RMS/RiskAssessment.css" rel="stylesheet" />
@Scripts.Render("~/bundles/RiskAssessment")
@*<script src="~/Scripts/Areas/RiskAssessment/RiskAssessment.js"></script>*@
@*<script type="text/javascript">
    
    if ($("#RiskExposureLevel").val() == "Low") {
        $("#defaultCondition").hide();
        $("#lowCondition").show();
        $("#mediumCondition").hide();
        $("#highCondition").hide();
    }
    else if ($("#RiskExposureLevel").val() == "Medium") {

        $("#defaultCondition").hide();
        $("#lowCondition").hide();
        $("#mediumCondition").show();
        $("#highCondition").hide();
    }
    else if ($("#RiskExposureLevel").val() = "High") {
        $("#defaultCondition").hide();
        $("#lowCondition").hide();
        $("#mediumCondition").hide();
        $("#highCondition").show();
    }
   

    $('#closeBtn').click(function (e) {
        $("#viewRisk").dialog("close");
        

    });
</script>*@



