﻿
@{
    ViewBag.Title = "KPIRisks";
    Layout = "~/Views/Shared/_LayoutRRB.cshtml";
}

<head>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
    <script type="text/javascript">
        google.load('visualization', '1.1', { packages: ['corechart'] });
        google.load('visualization', '1.1', { packages: ['treemap'] });
        
        google.load('visualization', '1.1', { packages: ['table'] });
    </script>
</head>
@Scripts.Render("~/bundles/jqueryJS")
<!--<script src="~/Scripts/jquery-2.1.3.js"></script>-->
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-folder-open-o"></i>
                <a href="#">Key Risk Indicators</a>
            </li>
            <li class="active">View</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="page-header">
        <h1>
            Key Risk Indicators
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">  
            <div class="col-md-12">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-bar-chart-o"></i>
                            Risk Analysis
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @*@Html.Partial("_bubbleChartARiskView")*@
                            <div id="chartdiv12"></div>
                            <button id="chartB">Reload</button>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div>
            </div>          
                      
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-4">
                <div class="widget-box" >
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-bar-chart-o"></i>
                            Orgwide Risk Impact Category
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @*@Html.Partial("_riskImpactCategoryColumnRiskReviewBoardView")*@
                            <div id="columnchart_values11"></div>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div>

            </div>
            <div class="col-md-4">
                <div class="widget-box" ">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-bar-chart-o"></i>
                            Orgwide Risk Impact Category
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @*@Html.Partial("_riskImpactCategoryColumnRiskReviewBoardPercentageView")*@
                            <div id="columnchart_values13"></div>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div>

            </div>
            <div class="col-md-4">
                <div class="widget-box" >
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-bar-chart-o"></i>
                            Quarterly Targetted Mitigation Plan
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @*@Html.Partial("_targetQuarterRRBView")*@
                            <div id="columnchart_values14"></div>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    
<script type="text/javascript">
    var chartData12;
    var chartData11;
    var chartData13;
    var chartData14;

    $("#chartB").click(function () {
        drawChart12();
    });

    $(document).ready(function () {

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '@Url.Action("RiskTreeMapChart", new { risk = "Administrative" })',
            data: "",
            success: function (data12) {
                //alert(data12);
                if (data12.length > 5) {
                    chartData12 = data12;
                    drawChart12();
                }
                else {
                    document.getElementById('chartdiv12').innerHTML = "No data available!!!"
                }
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        }).done(function () {
            //after complete loading data
        });

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '@Url.Action("GetPercentageImpactCategoryRiskDataRRB", new { risk = "Administrative" })',
            //async: false,
            data: "",
            success: function (data13) {
                //alert(data13);
                if (data13.length > 1) {
                    chartData13 = data13;
                    //alert(data);
                    drawChart13();
                }
                else {
                    document.getElementById('columnchart_values13').innerHTML = "No data available!!!"
                }
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        }).done(function () {

        });

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '@Url.Action("GetImpactCategoryRiskDataRRB",new { risk = "Administrative" })',
            //async: false,
            data: "",
            success: function (data11) {
                //alert(data11);
                if (data11.length > 1) {
                    chartData11 = data11;
                    //alert(data);
                    drawChart11();
                }
                else {
                    document.getElementById('columnchart_values11').innerHTML = "No data available!!!"
                }
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        }).done(function () {

        });

        $.ajax({
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            url: '@Url.Action("GetTargetQuarterRRBData", new { risk = "Physical" })',
            data: "",
            //async: false,
            success: function (data14) {
                if (data14.length > 1) {
                    //alert(data14);
                    chartData14 = data14;
                    drawChart14();
                }
                else {
                    document.getElementById('columnchart_values14').innerHTML = "No data available!!!"
                }
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        }).done(function () {

        });
    });

    function drawChart12() {
        var data12 = google.visualization.arrayToDataTable(chartData12);


        //var options12 = {
        //    //width: 730,
        //    height: 290,
        //    hAxis: { title: 'Impact' },
        //    vAxis: { title: 'Probability' },
        //    colorAxis: { colors: ['yellow', 'red'] }
        //};
        var options12 = {
            minColor: '#008C00',
            midColor: '#FFCC33',
            maxColor: 'red',
            headerHeight: 15,
            fontColor: 'black',
            generateTooltip: showStaticTooltip,
            showScale: true
        };

        //var chart12 = new google.visualization.BubbleChart(document.getElementById('chartdiv12'));
        var chart12 = new google.visualization.TreeMap(document.getElementById('chartdiv12'));
        chart12.draw(data12, options12);
        function showStaticTooltip(row, size, value) {
           // alert(data12.getValue(row, 0));

            return '<div style="background:#fd9; padding:10px; border-style:solid">' +
                   '<a href="#)">'+ data12.getValue(row, 0)+ '</a>.</div>';
        }
    }

    function drawChart11() {

        var data11 = google.visualization.arrayToDataTable(chartData11);

        var options11 = {
            width: 340,
            height: 250,
            legend: { position: 'none' },
            chartArea: {
                left: 100
            },
            //legend: { position: 'bottom', textStyle: { fontSize: 10 } },
            hAxis: { title: 'Number of Risks',format: '0', titleTextStyle: { color: '#333' } },
            vAxis: {
                title: 'Risk Category',
                titleTextStyle: { color: '#333' },
                minValue: 0,
                color: 'transparent'               
            }
        };

        var chart11 = new google.visualization.BarChart(document.getElementById("columnchart_values11"));
        chart11.draw(data11, options11);
    }

    function drawChart13() {

        var data13 = google.visualization.arrayToDataTable(chartData13);

        var options13 = {
            width: 340,
            height: 250,
            legend: { position: 'none' },
            chartArea: {
                left: 100
            },
            //legend: { position: 'bottom', textStyle: { fontSize: 10 } },
            hAxis: { title: '% of Risks Exists', titleTextStyle: { color: '#333' } },
            vAxis: {
                title: 'Risk Category',
                titleTextStyle: { color: '#333' },
                minValue: 0,
                color: 'transparent'
            },
            colors: ['#e0440e']
        };

        var chart13 = new google.visualization.BarChart(document.getElementById("columnchart_values13"));
        chart13.draw(data13, options13);
    }

    function drawChart14() {

        var data14 = google.visualization.arrayToDataTable(chartData14);
        //var options14 = {
        //    //title: "Quarterwise no of risks Target",
        //    width: 340,
        //    height: 250,
        //    legend: { position: 'none' },
        //    hAxis: { title: 'Quarters', titleTextStyle: { color: '#333' } },
        //    vAxis: {
        //        title: '# of Targets',
        //        titleTextStyle: { color: '#333' },
        //        minValue: 0,
        //        format: '0',
        //        color: 'transparent'                //ticks: [5, 10, 15, 20]
        //    }
        //};

        var changeScale = true;
        $.each(chartData14, function (i, val) {
            if (i > 0 && changeScale == true) {
                if (chartData14[i][1] > 5) {
                    changeScale = false;
                }
            }
        });

        var options14;
        if (changeScale) {
            
            options14 = {
                //title: "Quarterwise no of risks Target",
                width: 340,
                height: 250,
                legend: { position: 'none' },
                hAxis: { title: 'Quarters', titleTextStyle: { color: '#333' } },
                vAxis: {
                    title: '# of Targets',
                    titleTextStyle: { color: '#333' },
                    minValue: 0,
                    ticks: [1, 2, 3, 4, 5],
                    format: '0',
                    color: 'transparent'                //ticks: [5, 10, 15, 20]
                }
            };
        }
        else {
            
            options14 = {
                //title: "Quarterwise no of risks Target",
                width: 340,
                height: 250,
                legend: { position: 'none' },
                hAxis: { title: 'Quarters', titleTextStyle: { color: '#333' } },
                vAxis: {
                    title: '# of Targets',
                    titleTextStyle: { color: '#333' },
                    minValue: 0,
                    format: '0',
                    color: 'transparent'                //ticks: [5, 10, 15, 20]
                }
            };
        }

        var chart14 = new google.visualization.ColumnChart(document.getElementById("columnchart_values14"));


        chart14.draw(data14, options14);


    }



</script>

    }
