﻿
@{
    ViewBag.Title = "RiskReviewBoardView";
    Layout = "~/Views/Shared/_LayoutRRB.cshtml";
}
@Scripts.Render("~/bundles/jqueryJS")
@Scripts.Render("~/bundles/jqueryPackage")

@*<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>*@

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-folder-open-o"></i>
                <a href="#">Risk Review Board</a>
            </li>
            <li class="active">View</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="page-header">
        <h1>
            Risk Review Board
        </h1>
    </div>
    @*<div class="row">put tab inside if you want to remove space</div>*@
        
    <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#PhysicalRisk">Physical Risks</a></li>
                <li><a data-toggle="tab" href="#AdministrativeRisk">Administrative Risks</a></li>
                <li><a data-toggle="tab" href="#TechnologyRisk">Technology Risks</a></li>
                <li><a data-toggle="tab" href="#ApprovedRisk">Approved Risks</a></li>                
            </ul>
            <div class="tab-content">
                <div id="PhysicalRisk" class="tab-pane fade in active">
                    @* Use partial view *@
                    <div class="row">
                        <div class="col-xs-12">

                                <table id="PhysicalRisksList" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead style="background-color:red;">
                                        <tr>  
                                            <td class="center" style="font-weight:lighter; color:white; background-color:#6faed9;">
                                                <label class="pos-rel">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>   
                                            <td style="font-weight:lighter; color:white; background-color:#6faed9;">ID</td>      
                                            <td style="font-weight:lighter; color:white; background-color:#6faed9;">Risk ID</td>
                                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Agent</td>
                                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Description</td>
                                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Threat/Vulnerability</td>
                                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Impact Category</td>
                                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Exposure Level</td>
                                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Proposed Action</td>
                                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Target Date</td>
                                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Actions</td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            
                            
                        </div>
                    </div>
                    @*<h3>Physical Risks</h3>
                    <p>Some content in Physical Risks </p>*@
                </div>
                <div id="AdministrativeRisk" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12">
                           
                            <table id="AdministrativeRisksList" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead style="background-color:red;">
                                    <tr>
                                        <td class="center" style="font-weight:lighter; color:white; background-color:#6faed9;">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td> 
                                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">ID</td>
                                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Risk ID</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Agent</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Description</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Threat/Vulnerability</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Impact Category</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Exposure Level</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Proposed Action</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Target Date</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Actions</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div id="TechnologyRisk" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="technology-table"></table>
                            <div id="technology-pager"></div>
                            <table id="TechnologyRisksList" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead style="background-color:red;">
                                    <tr>
                                        <td class="center" style="font-weight:lighter; color:white; background-color:#6faed9;">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td> 
                                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">ID</td>
                                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Risk ID</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Agent</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Description</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Threat/Vulnerability</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Impact Category</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Exposure Level</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Proposed Action</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Target Date</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Actions</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div id="ApprovedRisk" class="tab-pane fade">
                    <div class="row">
                        <div class="col-xs-12">

                            <table id="ApprovedRisksList" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead style="background-color:red;">
                                    <tr>
                                        @*<td class="center" style="font-weight:lighter; color:white; background-color:#6faed9;">
                                            <label class="pos-rel">
                                                <input type="checkbox" class="ace" />
                                                <span class="lbl"></span>
                                            </label>
                                        </td>*@
                                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">ID</td>
                                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Risk ID</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Department</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Description</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Threat/Vulnerability</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Impact Category</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Exposure Level</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Proposed Action</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Target Date</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Approved On</td>
                                        <td style="font-weight:lighter;color:white; background-color:#6faed9;"></td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
   
    

    

</div>
<div id="editRisk"></div>
<div id="viewRisk"></div>

@section Scripts {    

@Scripts.Render("~/bundles/bootstrap")


@Scripts.Render("~/bundles/RiskReviewBoard")
@*<script src="~/Scripts/Areas/RiskReviewBoard/RiskReviewBoard.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {      
        LoadTables();

            });
</script>
}