﻿@model RMS_HIPAA.Models.RiskAssessmentModel.RiskAssessmentViewModel

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("PIR", "PostImplementationRevew", null, FormMethod.Post, new { role = "form", @class = "form-horizontal", @id = "TPIRForm", @name = "TPIRForm" }))
        {

        <div id="accordion" class="accordion-style1 panel-group">
            <div class="panel panel-default risk-panel">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                            &nbsp;Risk Assessment
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="collapseOne">
                    <div class="panel-body">
                        <div class="row">
                            @Html.TextBoxFor(model => model.RiskAssessmentId,"", new { @class = "form-control risk-field hidden" })
                            @Html.TextBoxFor(m => m.performPIR, "", new { @class = "form-control risk-field hidden" })
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.RiskId);
                                                @Html.TextBoxFor(m => m.RiskId, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.RiskAgent)
                                                @Html.TextBoxFor(m => m.RiskAgent, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.DepartmentName)
                                                @Html.TextBoxFor(m => m.DepartmentName, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.AssetName)
                                                @Html.TextBoxFor(m => m.AssetName, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.Owner)
                                                @Html.TextBoxFor(m => m.Owner, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.AssessedDate)
                                                @Html.TextBoxFor(m => m.AssessedDateVal, "", new { @class = "form-control risk-field", @readonly = "readonly" })

                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.RiskInput)
                                                @Html.TextBoxFor(m => m.RiskInput, "", new { @class = "form-control risk-field", @readonly = "readonly" })

                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.ThreatSource)
                                                @Html.TextBoxFor(m => m.ThreatSource, "", new { @class = "form-control risk-field", @readonly = "readonly" })

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="col-md-6">
                                                @Html.LabelFor(m => m.RiskDescription)
                                                <br />
                                                @Html.TextAreaFor(m => m.RiskDescription, new { @class = "form-control risk-field", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-6">
                                                @Html.LabelFor(m => m.ThreatVulnerabilityDescription)
                                                <br />
                                                @Html.TextAreaFor(m => m.ThreatVulnerabilityDescription, new { @class = "form-control risk-field", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="col-md-9">
                                                @Html.LabelFor(m => m.ExistingControls)
                                                <br />
                                                @Html.TextAreaFor(m => m.ExistingControls, new { @class = "form-control risk-field", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.RiskImpactCategory)
                                                @Html.TextBoxFor(m => m.RiskImpactCategory, "", new { @class = "form-control risk-field", @readonly = "readonly" })

                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.ProbabilityofOccurence)
                                                @Html.TextBoxFor(m => m.ProbabilityofOccurence, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                @Html.TextBoxFor(m => m.ProbabilityofOccurenceValue, "", new { @class = "form-control hidden" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.ImpactLevel)
                                                @Html.TextBoxFor(m => m.ImpactLevel, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                @Html.TextBoxFor(m => m.ImpactLevelValue, "", new { @class = "form-control hidden" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.LabelFor(m => m.RiskExposureLevel)
                                                @Html.TextBoxFor(m => m.RiskExposureLevel, "", new { @class = "form-control hidden" })
                                                @if (Model.RiskExposureLevel == "Low")
                                                {
                                                <div id="lowCondition">
                                                    &nbsp;
                                                    <img src="~/Content/images/greenBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                </div>
                                                }
                                                @if (Model.RiskExposureLevel == "Medium")
                                                {
                                                <div id="mediumCondition">
                                                    &nbsp;
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/yellowBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                </div>
                                                }
                                                @if (Model.RiskExposureLevel == "High")
                                                {
                                                <div id="highCondition">
                                                    &nbsp;
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/redBulb.png" width="34" height="34" />
                                                </div>
                                                }
                                                @*<div id="defaultCondition">
                                                    &nbsp;
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                </div>*@
                                                @*<div id="lowCondition" hidden>
                                                    &nbsp;
                                                    <img src="~/Content/images/greenBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                </div>*@

                                                @*<div id="mediumCondition" hidden>
                                                    &nbsp;
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/yellowBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                </div>*@
                                                @*<div id="highCondition" hidden>
                                                    &nbsp;
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    <img src="~/Content/images/redBulb.png" width="34" height="34" />
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default risk-panel">
                <div class="panel-heading">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                &nbsp;Risk Treatment
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseTwo">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-md-9">
                                                    @Html.LabelFor(m => m.ActionProposed)
                                                    <br />
                                                    @Html.TextAreaFor(m => m.ActionProposed, new { @class = "form-control risk-field", row = 2, @readonly = "readonly" })
                                                </div>
                                                <div class="col-md-3">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.Responsible)
                                                    @Html.TextBoxFor(m => m.Responsible, "", new { @class = "form-control risk-field", @readonly = "readonly" })
                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.TargetDate)
                                                    @Html.TextBoxFor(m => m.TargetDateVal, "", new { @class = "form-control risk-field", @readonly = "readonly" })


                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.TargetQurter)
                                                    @Html.TextBoxFor(m => m.TargetQurter, "", new { @class = "form-control risk-field", @readonly = "readonly" })

                                                </div>
                                                <div class="col-md-3">
                                                    @Html.LabelFor(m => m.ResponsibleDepartment)
                                                    @Html.TextBoxFor(m => m.ResponsibleDepartment, "", new { @class = "form-control risk-field", @readonly = "readonly" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default risk-panel">
                <div class="panel-heading">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                &nbsp;Risk Response
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseThree">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.RiskResponse)
                                                    @Html.TextBoxFor(m => m.RiskResponse, "", new { @class = "form-control risk-field", @readonly = "readonly" })


                                                </div>
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.Status)
                                                    @Html.TextBoxFor(m => m.Status, "", new { @class = "form-control risk-field", @readonly = "readonly" })

                                                </div>
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.ClosedDate)
                                                    @Html.TextBoxFor(m => m.ClosedDateVal, "", new { @class = "form-control risk-field", @readonly = "readonly" })



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default risk-panel">
                <div class="panel-heading">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                &nbsp;Post Implementation Review
                            </a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseThree">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="form-group">
                                           <div class="col-sm-12">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PIRProbabilityOfOccurence)
                                                    @Html.DropDownListFor(m => m.PIRProbabilityOfOccurence, Model.ProbabilityofOccurenceList, "Select an option...", new { @class = "form-control chosen-select tbMandatoryFields" })
                                                    @Html.TextBoxFor(m => m.PIRProbabilityofOccurenceValue, "", new { @class = "form-control hidden" })
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PIRImpactLevel)
                                                    @Html.DropDownListFor(m => m.PIRImpactLevel, Model.ImpactLevelList, "Select a level...", new { @class = "chosen-select risk-field tbMandatoryFields" })
                                                    @Html.TextBoxFor(m => m.PIRImpactLevelValue, "", new { @class = "form-control hidden" })
                                                </div>
                                               <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PIRRiskExposureLevel)
                                                    @Html.TextBoxFor(m => m.PIRRiskExposureLevel, "", new { @class = "form-control hidden" })
                                                    <div id="defaultConditionPIR">
                                                        &nbsp;
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    </div>
                                                    <div id="lowConditionPIR" hidden>
                                                        &nbsp;
                                                        <img src="~/Content/images/greenBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    </div>
                                                    <div id="mediumConditionPIR" hidden>
                                                        &nbsp;
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/yellowBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                    </div>
                                                    <div id="highConditionPIR" hidden>
                                                        &nbsp;
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                        <img src="~/Content/images/redBulb.png" width="34" height="34" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="col-md-9">
                                                    @Html.LabelFor(m => m.PIRComments)
                                                    <br />
                                                    @Html.TextAreaFor(m => m.PIRComments, new { @class = "form-control risk-field", row = 2 })
                                                </div>
                                                <div class="col-md-3">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="clearfix form-actions risk-panel" style="color:white">
            <div class="col-md-6">
                <button id="saveARiskAssessBtn" class="btn btn-info btn-mini" type="button">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>

            </div>
        </div>  


        }
    </div>

</div>
<link href="~/Content/css/RMS/RiskAssessment.css" rel="stylesheet" />
@Scripts.Render("~/bundles/RiskAssessment")
<script type="text/javascript">
    //ShowDetails("@Request.QueryString["id"]");
        
    //function ShowDetails(id) {

    //    var myurl = '../api/RiskAssessmentDetails/' + id
    //    $.ajax(
    //    {
    //        url: myurl,
    //        type: 'GET',
    //        dataType: 'json',
    //        success: function (data) {
    //            $("#RiskAssessmentId").val(data.riskAssessmentId);
    //                            if (data.probabilityofOccurence != null) {
    //                $("#ProbabilityofOccurenceValue").val(data.probabilityofOccurence);
    //                $("#ProbabilityofOccurence option:contains(" + data.probabilityofOccurence + ")").attr('selected', 'selected');
    //                $('#ProbabilityofOccurence').trigger("chosen:updated");
    //            }

    //            if (data.impactLevel != null) {
    //                $("#ImpactLevelValue").val(data.impactLevel);
    //                $("#ImpactLevel option:contains(" + data.impactLevel + ")").attr('selected', 'selected');
    //                $('#ImpactLevel').trigger("chosen:updated");
    //            }
    //            var prob = $("#ProbabilityofOccurence").val() === "" ? 0 : $("#ProbabilityofOccurence").val();
    //            var impact = $("#ImpactLevel").val() === "" ? 0 : $("#ImpactLevel").val();

    //            Risk = prob * impact;
    //            RiskExposureLevel(Risk);
               
    //        },
    //        error: function (xhr, status, error) {

    //            HIPAA.Alert("Failed to load the Technology risk assessment details", "danger");
    //        }
    //    });
    //}
    $('#saveARiskAssessBtn').click(function (e) {
        var isValid = true;
        if (isValid == true) {
            $("#SentToApproval").val(true);
            $("#performPIR").val("true");
            var formData = $('#TPIRForm').serialize();

            $.ajax({
                type: "put",
                data: formData,
                url: "../api/RiskAssessmentDetails",
                dataType: "json",       //    if you want to return json data, enable this data type.
                success: function (data) {
                    $("#performPostImplementationReview").dialog("close");
                    DisplayPostImplementationReviewList("Technology");
                    HIPAA.Alert("Risk Assessment Details updated successfully", "success");
                    // ShowDetails(data);
                },
                error: function (request, status, error) {
                    $("#performPostImplementationReview").dialog("close");
                    HIPAA.Alert("Failed to update the Risk Assessment details", "danger");
                }
            });
        }
    });
</script>





