﻿
@{
    ViewBag.Title = "PostImplementationReviewListView";
    Layout = "~/Views/Shared/_LayoutRRB.cshtml";
}

@Scripts.Render("~/bundles/jqueryJS")
@Scripts.Render("~/bundles/jqueryPackage")

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-folder-open-o"></i>
                <a href="#">Post Implementation Review</a>
            </li>

            <li>
                <i class="ace-icon fa fa-file-text"></i>
                <a href="#">Post Implementation Review</a>
            </li>

        </ul>
    </div>
    <div class="row">
        <div class="col-xs-12">


            <table id="PostImplementationReviewTable" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead style="background-color:red;">
                    <tr>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">ID</td>
                        <td style="font-weight:lighter; color:white; background-color:#6faed9;">Risk Id</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Description</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Controls Implemented</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Probability of Occurence</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Impact</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Exposure Value</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Post implement-Probability of Occurence</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Post implement-Impact</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Post implement-Risk Exposure Value</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Comments</td>
                        <td style="font-weight:lighter;color:white; background-color:#6faed9;">Actions</td>
                    </tr>
                </thead>

            </table>

        </div>
    </div>
</div>
<div id="viewRisk"></div>

<div id="performPostImplementationReview"></div>

 @section Scripts{

        @Scripts.Render("~/bundles/RiskAssessment")
<!--<script type="text/javascript" src="~/Scripts/Areas/RiskAssessment/RiskAssessment.js"></script>-->
<script type="text/javascript">
    $(document).ready(function () {
        DisplayPostImplementationReviewList("Administrative");
            });
</script>
    }

