﻿@using RMS_HIPAA.Models.SelfRiskAssessmentModel;
@model SelfAssessmentQuestionTestViewModel

@{
    ViewBag.Title = "Self Risk Assessment Questions Test List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content-inner">

    <div class="page-header">
        <h1>
            Self Risk Assessment
        </h1>
    </div>


    <div class="row">
        @Html.HiddenFor(model => model.Id)        
        <div class="form-group">
            <div class="col-sm-12">
                <div class="col-md-6">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Assessor Name</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.AssessorName, new { @id = "AssessorName", @name = "AssessorName", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Assessed Date</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.AssessedDate, "{0:MM/dd/yyyy}", new { @id = "AssessedDate", @name = "AssessedDate", @class = "form-control date-picker", @readonly=true, data_date_format = "mm/dd/yyyy" })
                            <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="space-12"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <div class="col-md-12">

                <table id="Selftablelist" class="table table-bordered  collaptable">

                    <thead>
                        <tr>
                            <td rowspan="4" style="font-weight:bold;"><center>Serial #</center></td>
                            <td rowspan="4" style="font-weight:bold;  width:600px"><center>Assessment Points</center></td>
                            <td colspan="3" id="Com_Period" style="font-weight:bold; ">
                                <center>
                                    Response <br />
                                </center>
                            </td>
                            <td rowspan="4" style="font-weight:bold; ">Comments <br /></td>
                        </tr>


                        <tr>
                            <td rowspan="2" style="font-weight:bold; "><center>Yes</center></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold; "><center>No</center></td>

                            <td style="font-weight:bold;"><center>NA</center></td>

                        </tr>


                    </thead>
                    <tbody></tbody>
                </table>


            </div>
            <div class="row">
                <div class="col-xs-12">

                    <div class="col-md-12" style="align-items:center">
                        <button id="saveSelfRiskAssessBtn" class="btn btn-info btn-mini" type="button">
                            <i class="ace-icon fa fa-check"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    label {
        cursor: pointer;
        display: block;
        text-align: center;
    }

    txt1 {
        width: 500px;
    }
</style>
@section Scripts{
    <script type="text/javascript">
                    $(document).ready(function () {

                        //$("#AssessedDate").datepicker({
                        //    autoclose: true,
                        //    todayHighlight: true
                        //}).next().on('click', function () {
                        //    $(this).prev().focus();
                        //});

                        ShowDetails($('#AssessedDate').val(), "Administrative");

                        //$("#AssessedDate").blur(function () {
                        //    var mAssessedDate = null;

                        //    if ($('#AssessedDate').val() != null && $('#AssessedDate').val() != '') {
                        //        mAssessedDate = $('#AssessedDate').val();

                        //        ShowDetails(mAssessedDate, "Administrative");
                        //    }

                        //});


                        function ShowDetails(mAssessedDate, FunctionName) {

                            var myurl = '../api/SelfRiskAssessmentTestDetails/';

                            $.ajax(
                            {
                                url: myurl,
                                type: 'GET',
                                data: { accesseddate: mAssessedDate, FunctionName: FunctionName },
                                dataType: 'json',
                                success: function (data) {
                                    if (data.assessorName != '') {
                                        $("#AssessorName").val(data.assessorName);
                                        $("#Id").val(data.id);
                                    }

                                    // $("#Selftablelist").find(" tr:not(:first)").remove();
                                    $("#Selftablelist > tbody").html("");
                                    for (var i = 0; i < data.questionViewList.length; i++) {
                                        //alert(data.questionViewList[i].questionName);

                                        var radioYesObj = "<td><label for='q" + i + "'><input type='radio' class='radyes' name='q" + i + "' id='q" + i + "' value='yes' /></label></td>";

                                        if (data.questionViewList[i].response == "")
                                        {
                                            radioYesObj = "<td><label for='q" + i + "'><input type='radio' class='radyes' name='q" + i + "' id='q" + i + "' value='yes' checked/></label></td>";
                                        }

                                        if (data.questionViewList[i].response == "Yes")
                                        {
                                            radioYesObj = "<td><label for='q" + i + "'><input type='radio' class='radyes' name='q" + i + "' id='q" + i + "' value='yes' checked/></label></td>";
                                        }

                                        var radioNoObj = "<td><label for='q" + i + "'><input type='radio' class='radno' name='q" + i + "' id='q" + i + "' value='No' /></label></td>";
                                        if (data.questionViewList[i].response == "No")
                                        {
                                            radioNoObj = "<td><label for='q" + i + "'><input type='radio' class='radno' name='q" + i + "' id='q" + i + "' value='No' checked /></label></td>";
                                        }

                                        var radioNAObj = "<td><label for='q" + i + "'><input type='radio' class='radna' name='q" + i + "' id='q" + i + "' value='NA' /></label></td>";
                                        if (data.questionViewList[i].response == "NA")
                                        {
                                            radioNAObj = "<td><label for='q" + i + "'><input type='radio' class='radna' name='q" + i + "' id='q" + i + "' value='NA' checked  /></label></td>";
                                        }

                                        var appendRow = "<tr><td>" + data.questionViewList[i].siNo + "</td><td><input type ='hidden' class='questionid' value= " + data.questionViewList[i].questionId + " />" + data.questionViewList[i].questionName + "</td>" +
                                            radioYesObj +
                                            radioNoObj +
                                            radioNAObj +
                                            "<td><textarea style='height:75px;width:100%;font-size:10pt;' class='txtcomments' id='txtcomments' name='txtcomments[]' class='txtcomments'>"+ data.questionViewList[i].comments +"</textarea></td></tr>"

                                       $('#Selftablelist').find('tbody').append(appendRow);
                                    }                                  
                                },
                                error: function (xhr, status, error) {

                                    HIPAA.Alert("Failed to load the Administrative Self Risk Assessment", "danger");
                                }

                            });
                        }

                       

                        $('#saveSelfRiskAssessBtn').click(function (e) {

                            var selfRiskAssess = new SelfAssessmentQuestionTestViewModel();
                            var postData = JSON.stringify(selfRiskAssess);
                          
                                $.ajax({
                                    type: "post",
                                    data: postData,
                                    contentType: 'application/json; charset=utf-8',
                                    url: "../api/SelfRiskAssessmentTestDetails",
                                    dataType: "json",
                                    success: function (data) {
                                        ShowDetails($('#AssessedDate').val(), "Administrative");
                                        HIPAA.Alert("Administrative Self Risk Assessment added successfully", "success");
                                    },
                                    error: function (request, status, error) {
                                        HIPAA.Alert("Failed to add the Administrative Self Risk Assessment", "danger");
                                    }
                                });

                        });

                      

                        function SelfAssessmentQuestionTestViewModel() {

                            var self = this;
                            self.Id = $('#Id').val();
                           
                            self.AssessorName =  $('#AssessorName').val();
                            self.AssessedDate = $('#AssessedDate').val();
                            self.RiskType = "Administrative";
                            self.QuestionViewList = [];

                            var k = 0;
                            $("#Selftablelist tbody tr").each(function () {

                                var response = '';
                               
                                if ($(this).find(".radyes").prop('checked')) {
                                    response = 'Yes';
                                }
                                else if ($(this).find(".radno").prop('checked')) {
                                    response = 'No';
                                }
                                else if ($(this).find(".radna").prop('checked')) {
                                    response = 'NA';
                                }

                                var comments = $(this).find('.txtcomments').val();

                                var QuestionId = $(this).find('.questionid').val();

                                var testRefId = $('#Id').val();

                            
                                self.QuestionViewList[k] = { TestRefId: testRefId, QuestionId: QuestionId, Response: response, Comments:  comments };

                                k = k + 1;

                            });
                        }

                    });



    </script>
}
