﻿@model RMS_HIPAA.Models.RiskAssessmentModel.RiskAssessmentViewModel

@{
    ViewBag.Title = "NewAdministartiveRiskAssessment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-folder-open-o"></i>
                <a href="#">Perform Risk Assessment</a>
            </li>

            <li>
                <i class="ace-icon fa fa-file-text"></i>
                <a href="#">Edit Risk</a>
            </li>
            <li class="active">Risk Details</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="page-header">
        <h1>
            Edit Administrative Risk Assessment
        </h1>
    </div>
    @* page Content *@
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("AdmRiskAssessment", "RiskAssessment", null, FormMethod.Post, new { role = "form", @class = "form-horizontal", @id = "ARiskForm", @name = "ARiskForm" }))
            {
                <div class="col-md-9">

                    <div id="accordion" class="accordion-style1 panel-group">
                        <div class="panel panel-default risk-panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        &nbsp;Risk Assessment
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in" id="collapseOne">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @Html.HiddenFor(model => model.RiskAssessmentId)   
                                            @Html.HiddenFor(model => model.SentToApproval)                                                                                     
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.RiskId);
                                                            @Html.TextBoxFor(m => m.RiskId, "", new { @class = "form-control risk-field", @readonly = "readonly", @value = Model.RiskId })
                                                        </div>
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.RiskAgent)
                                                            @Html.DropDownListFor(m => m.RiskAgent, Model.RiskAgentList, "Select a Risk Agent...", new { @class = "form-control chosen-select tbMandatoryFields" })
                                                        </div>
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.DepartmentName)
                                                            @Html.TextBoxFor(m => m.DepartmentName, "", new { @class = "form-control risk-field tbMandatoryFields" })
                                                        </div>
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.AssetName)
                                                            @Html.TextBoxFor(m => m.AssetName, "", new { @class = "form-control risk-field tbMandatoryFields" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.Owner)
                                                            @Html.TextBoxFor(m => m.Owner, "", new { @class = "form-control risk-field tbMandatoryFields" })
                                                        </div>
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.AssessedDate)
                                                            <div class="input-group datepicker">
                                                                @Html.TextBoxFor(m => m.AssessedDate, Model.AssessedDate.Value.ToShortDateString(),  new { @class = "form-control date-picker risk-field tbMandatoryFields", data_date_format = "mm/dd/yyyy" })
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar bigger-110"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.RiskInput)
                                                            @Html.DropDownListFor(m => m.RiskInput, Model.RiskInputList, "Select a Risk Input...", new { @class = " form-control chosen-select tbMandatoryFields" })
                                                        </div>
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.ThreatSource)
                                                            @Html.DropDownListFor(m => m.ThreatSource, Model.ThreatSourceList, "Select a source...", new { @class = "chosen-select risk-field tbMandatoryFields" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-6">
                                                            @Html.LabelFor(m => m.RiskDescription)
                                                            <br />
                                                            @Html.TextAreaFor(m => m.RiskDescription, new { @class = "form-control risk-field tbMandatoryFields" })
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.LabelFor(m => m.ThreatVulnerabilityDescription)
                                                            <br />
                                                            @Html.TextAreaFor(m => m.ThreatVulnerabilityDescription, new { @class = "form-control risk-field tbMandatoryFields" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-9">
                                                            @Html.LabelFor(m => m.ExistingControls)
                                                            <br />
                                                            @Html.TextAreaFor(m => m.ExistingControls, new { @class = "form-control risk-field tbMandatoryFields", row = 2 })
                                                        </div>
                                                        <div class="col-md-3">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.RiskImpactCategory)
                                                            @Html.DropDownListFor(m => m.RiskImpactCategory, Model.RiskImpactCategoryList, "Select a category...", new { @class = "form-control chosen-select" })
                                                        </div>
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.ProbabilityofOccurence)
                                                            @Html.DropDownListFor(m => m.ProbabilityofOccurence, Model.ProbabilityofOccurenceList, "Select an option...", new { @class = "form-control chosen-select tbMandatoryFields" })
                                                            @Html.TextBoxFor(m => m.ProbabilityofOccurenceValue, "", new { @class = "form-control hidden" })
                                                        </div>
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.ImpactLevel)
                                                            @Html.DropDownListFor(m => m.ImpactLevel, Model.ImpactLevelList, "Select a level...", new { @class = "chosen-select risk-field tbMandatoryFields" })
                                                            @Html.TextBoxFor(m => m.ImpactLevelValue, "", new { @class = "form-control hidden" })
                                                        </div>
                                                        <div class="col-md-3">
                                                            @Html.LabelFor(m => m.RiskExposureLevel)
                                                            @Html.TextBoxFor(m => m.RiskExposureLevel, "", new { @class = "form-control hidden" })
                                                            <div id="defaultCondition">
                                                                &nbsp;
                                                                <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                                <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                                <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                            </div>
                                                            <div id="lowCondition" hidden>
                                                                &nbsp;
                                                                <img src="~/Content/images/greenBulb.png" width="34" height="34" />
                                                                <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                                <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                            </div>
                                                            <div id="mediumCondition" hidden>
                                                                &nbsp;
                                                                <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                                <img src="~/Content/images/yellowBulb.png" width="34" height="34" />
                                                                <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                            </div>
                                                            <div id="highCondition" hidden>
                                                                &nbsp;
                                                                <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                                <img src="~/Content/images/whiteBulb.png" width="34" height="34" />
                                                                <img src="~/Content/images/redBulb.png" width="34" height="34" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default risk-panel">
                            <div class="panel-heading">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;Risk Treatment
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse in" id="collapseTwo">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="col-md-9">
                                                                @Html.LabelFor(m => m.ActionProposed)
                                                                <br />
                                                                @Html.TextAreaFor(m => m.ActionProposed, new { @class = "form-control risk-field tbHigh", row = 2 })
                                                            </div>
                                                            <div class="col-md-3">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="col-md-3">
                                                                @Html.LabelFor(m => m.Responsible)
                                                                @Html.TextBoxFor(m => m.Responsible, "", new { @class = "form-control risk-field tbHigh" })
                                                            </div>
                                                            <div class="col-md-3">
                                                                @Html.LabelFor(m => m.TargetDate)
                                                                <div class="input-group datepicker">
                                                                    @Html.TextBoxFor(m => m.TargetDate, "{0:mm/dd/yyyy}", new { @class = "form-control date-picker risk-field tbHigh", data_date_format = "mm/dd/yyyy" })
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-calendar bigger-110"></i>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                @Html.LabelFor(m => m.TargetQurter)
                                                                @Html.TextBoxFor(m => m.TargetQurter,"", new { @class = "form-control risk-field tbHigh", @readonly = "readonly" })
                                                            </div>
                                                            <div class="col-md-3">
                                                                @Html.LabelFor(m => m.ResponsibleDepartment)
                                                                @Html.DropDownListFor(m => m.ResponsibleDepartment, Model.ResponsibleDepartmentList, "Select a department...", new { @class = "chosen-select risk-field tbHigh" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default risk-panel">
                            <div class="panel-heading">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle risk-panel" style="color:white;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            &nbsp;Risk Response
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse in" id="collapseThree">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <div class="col-md-4">
                                                                @Html.LabelFor(m => m.RiskResponse)
                                                                @Html.DropDownListFor(m => m.RiskResponse, Model.RiskResponseList, "Select a response...", new { @class = "chosen-select risk-field tbHigh" })

                                                            </div>
                                                            <div class="col-md-4">
                                                                @Html.LabelFor(m => m.Status)
                                                                @Html.DropDownListFor(m => m.Status, Model.StatusList, "Select a status...", new { @class = "chosen-select risk-field tbHigh" })

                                                            </div>
                                                            <div class="col-md-4">
                                                                @Html.LabelFor(m => m.ClosedDate)
                                                                @Html.TextBoxFor(m => m.ClosedDate, "", new { @class = "form-control risk-field", @readonly = "readonly" }) 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix form-actions risk-panel" style="color:white">
                        <div class="col-md-offset-7 col-md-6">
                            <button id="saveARiskAssessBtn" class="btn btn-info btn-mini" type="button">
                                <i class="ace-icon fa fa-check"></i>
                                Save
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button id="SaveandForwardApproval" class="btn btn-info btn-mini" type="button">
                                <i class="ace-icon fa fa-check"></i>
                                Save and forward for Approval
                            </button>
                        </div>
                    </div>



                </div>
                <div class="col-md-3">
                    <p class="alert alert-info risk-panel" style="color:white;">
                        <small>
                            <strong>
                                Key Notes
                            </strong>
                            <br /><br />
                            <b>Risk Agent:</b> The entity/asset that may cause a threat to happen
                            <br /> <br />
                            <b>Risk :</b> “The net mission impact considering he probability that a particular threat will exercise a particular and the resulting impact
                            <br /><br />
                            <b>Threat :</b> A threat is the potential for a particular threat-source to successfully exercise a particular vulnerability.
                            <br /><br />
                            <b>Confidentiality:</b> is “the property that data or information is not made available or disclosed to unauthorized persons or processes.”
                            <br /><br />
                            <b>Integrity</b> is “the property that data or information have not been altered or destroyed in an unauthorized manner.”
                            <br /><br />
                            <b>Availability</b> is “the property that data or information is accessible and useable upon demand by an authorized person.”
                            <br /><br />
                            <b>Impact Level :</b>Select appropriate Impact level from the list.
                            <br /><br />
                            <b>Likelihood of Occurance:</b> The likelihood that a potential vulnerability could be exercised by a given threat-source can be described as high, medium, or low.
                            <br /><br />
                            <b>Risk Exposure level :</b>  Low values will be shown in “Green” Color, Medium will be shown in “Orange” color and “High” will be shown in “Red” color.  The workflow mandates the user to enter all the details of “risk treatment” and “risks reponse” if risk exposure level is “Medium” or “High”.
                            <br /><br />
                            <b>Risk Response:</b> Select appropriate risk response from the list.
                            <br />1.Transfer : Risk transfer is a risk management and control strategy that involves the contractual shifting of a risk from one party to another.
                            <br />2.Mitigation : This is an overall approach to reduce the risk either by Impact  and/or probability of occurrence.
                            <br />3.Avoid : Risk avoidance is the elimination of hazards, activities and exposures that can negatively affect an organization's assets
                            <br />4.Accept : It is preferable to accept risks once it is clear they cannot be resolved further any more.
                        </small>
                    </p>
                </div>
            }
        </div>
    </div>
</div>

<link href="~/Content/css/RMS/RiskAssessment.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/RiskAssessment")
    <!--<script type="text/javascript" src="~/Scripts/Areas/RiskAssessment/RiskAssessment.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function () {

            ShowDetails("@Request.QueryString["id"]");

            function ShowDetails(id) {

                var myurl = '../api/RiskAssessmentDetails/' + id
                $.ajax(
                {
                    url: myurl,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $("#RiskAssessmentId").val(data.riskAssessmentId);
                        $("#RiskId").val(data.riskId);
                        $("#AssetName").val(data.assetName);
                        $("#DepartmentName").val(data.departmentName);
                        $("#Owner").val(data.owner);
                        if(data.strAssessedDate != "")
                        {
                            $("#AssessedDate").val(data.strAssessedDate);
                        }
                        $("#RiskDescription").val(data.riskDescription);
                        $("#ThreatVulnerabilityDescription").val(data.threatVulnerabilityDescription);
                        $("#RiskExposureLevel").val(data.riskExposureLevel);
                        
                        $('#ExistingControls').val(data.existingControls);
                        $("#ActionProposed").val(data.actionProposed);
                        $("#Responsible").val(data.responsible);
                        if(data.strTargetDate != "")
                        {
                            $("#TargetDate").val(data.strTargetDate);
                        }
                        if(data.strClosedDate != "")
                        {
                            $("#ClosedDate").val(data.strClosedDate);
                        }
                        if(data.riskAgent != null)
                        {
                            $("#RiskAgent").val(data.riskAgent);
                            $('#RiskAgent').trigger("chosen:updated");
                        }
                        if(data.riskInput != null)
                        {
                            $("#RiskInput").val(data.riskInput);
                            $('#RiskInput').trigger("chosen:updated");
                        }
                        if(data.threatSource != null)
                        {
                            $("#ThreatSource").val(data.threatSource);
                            $('#ThreatSource').trigger("chosen:updated");
                        }
                        if(data.riskImpactCategory != null)
                        {
                            $("#RiskImpactCategory").val(data.riskImpactCategory);
                            $('#RiskImpactCategory').trigger("chosen:updated");
                        }
                        if (data.probabilityofOccurence != null) {
                            $("#ProbabilityofOccurenceValue").val(data.probabilityofOccurence);
                            $("#ProbabilityofOccurence option:contains(" + data.probabilityofOccurence + ")").attr('selected', 'selected');
                            $('#ProbabilityofOccurence').trigger("chosen:updated");
                        }

                        if (data.impactLevel != null) {
                            $("#ImpactLevelValue").val(data.impactLevel);
                            $("#ImpactLevel option:contains(" + data.impactLevel + ")").attr('selected', 'selected');
                            $('#ImpactLevel').trigger("chosen:updated");
                        }
                        var prob = $("#ProbabilityofOccurence").val() === "" ? 0 : $("#ProbabilityofOccurence").val();
                        var impact = $("#ImpactLevel").val() === "" ? 0 : $("#ImpactLevel").val();

                        Risk = prob * impact;
                        RiskExposureLevel(Risk);
                        if(data.targetQurter != null)
                        {
                            $("#TargetQurter").val(data.targetQurter);
                            $('#TargetQurter').trigger("chosen:updated");
                        }
                        if(data.responsibleDepartment != null)
                        {
                            $("#ResponsibleDepartment").val(data.responsibleDepartment);
                            $('#ResponsibleDepartment').trigger("chosen:updated");
                        }
                        if(data.riskResponse != null)
                        {
                            $("#RiskResponse").val(data.riskResponse);
                            $('#RiskResponse').trigger("chosen:updated");
                        }
                        if(data.status != null)
                        {
                            $("#Status").val(data.status);
                            $('#Status').trigger("chosen:updated");
                        }
                        $('#saveARiskAssessBtn').removeAttr("disabled");
                        
                        if (data.approval == true)
                        {
                            $('#SaveandForwardApproval').hide();
                        }
                        else {
                            $('#SaveandForwardApproval').removeAttr("disabled");
                        }
                        
                    },
                    error: function (xhr, status, error) {

                        HIPAA.Alert("Failed to load the AdministrativeRiskAssessment details", "danger");
                    }
                });
            }

            $('#SaveandForwardApproval').click(function (e) {
                var isValid = true;
                if ($('#RiskExposureLevel').val() == 'Low') {
                    $('.tbHigh').removeClass('errorClass');
                    $('.tbMandatoryFields').each(function () {

                        if ($.trim($(this).val()) == '') {
                            isValid = false;
                            $(this).addClass('errorClass');

                        }
                        else {
                            $(this).removeClass('errorClass');
                        }
                    });
                    if ($('#RiskAgent').val() == '') {
                        $('#RiskAgent_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskAgent_chosen').removeClass('errorClass');
                    }

                    if ($('#RiskInput').val() == '') {
                        $('#RiskInput_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskInput_chosen').removeClass('errorClass');
                    }
                    if ($('#ThreatSource').val() == '') {
                        $('#ThreatSource_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ThreatSource_chosen').removeClass('errorClass');
                    }
                    if ($('#RiskImpactCategory').val() == '') {
                        $('#RiskImpactCategory_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskImpactCategory_chosen').removeClass('errorClass');
                    }
                    if ($('#ProbabilityofOccurence').val() == '') {
                        $('#ProbabilityofOccurence_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ProbabilityofOccurence_chosen').removeClass('errorClass');
                    }
                    if ($('#ImpactLevel').val() == '') {
                        $('#ImpactLevel_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ImpactLevel_chosen').removeClass('errorClass');
                    }
                }
                else {

                    $('.tbMandatoryFields,.tbHigh').each(function () {
                        if ($.trim($(this).val()) == '') {
                            isValid = false;
                            $(this).addClass('errorClass');
                        }
                        else {
                            $(this).removeClass('errorClass');
                        }
                    });

                    if ($('#RiskAgent').val() == '') {
                        $('#RiskAgent_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskAgent_chosen').removeClass('errorClass');
                    }

                    if ($('#RiskInput').val() == '') {
                        $('#RiskInput_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskInput_chosen').removeClass('errorClass');
                    }
                    if ($('#ThreatSource').val() == '') {
                        $('#ThreatSource_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ThreatSource_chosen').removeClass('errorClass');
                    }
                    if ($('#RiskImpactCategory').val() == '') {
                        $('#RiskImpactCategory_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskImpactCategory_chosen').removeClass('errorClass');
                    }
                    if ($('#ProbabilityofOccurence').val() == '') {
                        $('#ProbabilityofOccurence_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ProbabilityofOccurence_chosen').removeClass('errorClass');
                    }
                    if ($('#ImpactLevel').val() == '') {
                        $('#ImpactLevel_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ImpactLevel_chosen').removeClass('errorClass');
                    }

                    if ($('#TargetQurter').val() == '') {
                        $('#TargetQurter_chosen').addClass('errorClass');
                    }
                    else {
                        $('#TargetQurter_chosen').removeClass('errorClass');
                    }
                    if ($('#ResponsibleDepartment').val() == '') {
                        $('#ResponsibleDepartment_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ResponsibleDepartment_chosen').removeClass('errorClass');
                    }
                    if ($('#RiskResponse').val() == '') {
                        $('#RiskResponse_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskResponse_chosen').removeClass('errorClass');
                    }
                    if ($('#Status').val() == '') {
                        $('#Status_chosen').addClass('errorClass');
                    }
                    else {
                        $('#Status_chosen').removeClass('errorClass');
                    }

                }

                if (isValid == false) {
                    e.preventDefault();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }

                else if (isValid == true) {

                    $("#SentToApproval").val(true);
                    var formData = $('#ARiskForm').serialize();
                    var divMessage = '<div class="form-group"><p>' + 'Would you like to Save this risk and Forward for approval?</p></div>';
                    var dlgtitle = '<div class="widget-header widget-header-small"><h4 class="smaller"><i class="ace-icon fa fa-warning"></i> Alert </h4></div>';



                    $(divMessage).dialog({
                        modal: true,
                        autoOpen: true,
                        show: {
                            effect: "blind",
                            duration: 500
                        },

                        buttons: [{
                            text: "YES",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                var CurrentDialog = $(this);
                                $.ajax({
                                    type: "put",
                                    data: formData,
                                    url: "../api/RiskAssessmentDetails",
                                    dataType: "json",       //    if you want to return json data, enable this data type.
                                    success: function (data) {
                                        CurrentDialog.dialog("close");
                                        HIPAA.Alert("Administrative Risk Assessment Details updated successfully and forward to approval", "success");
                                        setTimeout(function () {
                                            window.location = "@Url.Action("AdministrativeRiskAssessment", "RiskAssessment")";
                                        }, 2000);
                                    },
                                    error: function (request, status, error) {
                                        HIPAA.Alert("Failed to save the Administrative Risk Assessment details", "danger");
                                    }
                                });
                                

                            }
                        }, {
                            text: "NO",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }]
                    }).siblings('.ui-dialog-titlebar').html(dlgtitle);

                   
                }
            });

            $('#saveARiskAssessBtn').click(function (e) {
                var isValid = true;
                if ($('#RiskExposureLevel').val() == 'Low') {
                    $('.tbHigh').removeClass('errorClass');
                    $('.tbMandatoryFields').each(function () {

                        if ($.trim($(this).val()) == '') {
                            isValid = false;
                            $(this).addClass('errorClass');

                        }
                        else {
                            $(this).removeClass('errorClass');
                        }
                    });
                    if ($('#RiskAgent').val() == '') {
                        $('#RiskAgent_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskAgent_chosen').removeClass('errorClass');
                    }

                    if ($('#RiskInput').val() == '') {
                        $('#RiskInput_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskInput_chosen').removeClass('errorClass');
                    }
                    if ($('#ThreatSource').val() == '') {
                        $('#ThreatSource_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ThreatSource_chosen').removeClass('errorClass');
                    }
                    if ($('#RiskImpactCategory').val() == '') {
                        $('#RiskImpactCategory_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskImpactCategory_chosen').removeClass('errorClass');
                    }
                    if ($('#ProbabilityofOccurence').val() == '') {
                        $('#ProbabilityofOccurence_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ProbabilityofOccurence_chosen').removeClass('errorClass');
                    }
                    if ($('#ImpactLevel').val() == '') {
                        $('#ImpactLevel_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ImpactLevel_chosen').removeClass('errorClass');
                    }
                }
                else {

                    $('.tbMandatoryFields,.tbHigh').each(function () {
                        if ($.trim($(this).val()) == '') {
                            isValid = false;
                            $(this).addClass('errorClass');
                        }
                        else {
                            $(this).removeClass('errorClass');
                        }
                    });

                    if ($('#RiskAgent').val() == '') {
                        $('#RiskAgent_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskAgent_chosen').removeClass('errorClass');
                    }

                    if ($('#RiskInput').val() == '') {
                        $('#RiskInput_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskInput_chosen').removeClass('errorClass');
                    }
                    if ($('#ThreatSource').val() == '') {
                        $('#ThreatSource_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ThreatSource_chosen').removeClass('errorClass');
                    }
                    if ($('#RiskImpactCategory').val() == '') {
                        $('#RiskImpactCategory_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskImpactCategory_chosen').removeClass('errorClass');
                    }
                    if ($('#ProbabilityofOccurence').val() == '') {
                        $('#ProbabilityofOccurence_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ProbabilityofOccurence_chosen').removeClass('errorClass');
                    }
                    if ($('#ImpactLevel').val() == '') {
                        $('#ImpactLevel_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ImpactLevel_chosen').removeClass('errorClass');
                    }

                    if ($('#TargetQurter').val() == '') {
                        $('#TargetQurter_chosen').addClass('errorClass');
                    }
                    else {
                        $('#TargetQurter_chosen').removeClass('errorClass');
                    }
                    if ($('#ResponsibleDepartment').val() == '') {
                        $('#ResponsibleDepartment_chosen').addClass('errorClass');
                    }
                    else {
                        $('#ResponsibleDepartment_chosen').removeClass('errorClass');
                    }
                    if ($('#RiskResponse').val() == '') {
                        $('#RiskResponse_chosen').addClass('errorClass');
                    }
                    else {
                        $('#RiskResponse_chosen').removeClass('errorClass');
                    }
                    if ($('#Status').val() == '') {
                        $('#Status_chosen').addClass('errorClass');
                    }
                    else {
                        $('#Status_chosen').removeClass('errorClass');
                    }

                }

                if (isValid == false) {
                    e.preventDefault();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
                if (isValid == true) {
                    $("#SentToApproval").val(false);
                    var formData = $('#ARiskForm').serialize();

                    $.ajax({
                        type: "put",
                        data: formData,
                        url: "../api/RiskAssessmentDetails",
                        dataType: "json",       //    if you want to return json data, enable this data type.
                        success: function (data) {
                            HIPAA.Alert("Administrative Risk Assessment Details updated successfully", "success");
                            setTimeout(function () {
                                window.location = "@Url.Action("AdministrativeRiskAssessment", "RiskAssessment")";
                            }, 2000);
                        },
                        error: function (request, status, error) {
                            HIPAA.Alert("Failed to update the Administrative Risk Assessment details", "danger");
                        }
                    });
                }

            });
        });
    </script>
}

