﻿
@{
    ViewBag.Title = "PhysicalRiskAssessmentKPI";
    Layout = "~/Views/Shared/_LayoutPhysical.cshtml";
}

<head>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
    <script type="text/javascript">
        google.load('visualization', '1.1', { packages: ['corechart'] });
        google.load('visualization', '1.1', { packages: ['table'] });
    </script>
</head>
@Scripts.Render("~/bundles/jqueryJS")



<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-folder-open-o"></i>
                <a href="#">Key Risk Indicators</a>
            </li>
            <li class="active">View</li>
        </ul><!-- /.breadcrumb -->
    </div>
    <div class="page-header">
        <h1>
            Key Risk Indicators of Physical Risks
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-4">
                <div class="widget-box" style="width: 370px; height: 350px;">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-bar-chart-o"></i>
                            Number of High and Medium Risks
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @*@Html.Partial("_highMediumARiskView")*@
                            <div id="columnchart_values"></div>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget-box" style="width: 370px; height: 350px;">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-bar-chart-o"></i>
                            Status number of Risks
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @*@Html.Partial("_statuswiseARiskView")*@
                            <div id="columnchart_values1"></div>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div>


            </div>
            <div class="col-md-4">
                <div class="widget-box" style="width: 370px; height: 350px;">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-bar-chart-o"></i>
                            Risk Exposure Level based Risks
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @*@Html.Partial("_riskExposureLevelARiskView")*@
                            <div id="columnchart_values2"></div>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-4">
                <div class="widget-box" style="width: 370px; height: 350px;">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-bar-chart-o"></i>
                            % of Risk Impact Category
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @*@Html.Partial("_riskImpactCategoryARiskView")*@
                            <div id="columnchart_values3"></div>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div>

            </div>
            <div class="col-md-4">
                <div class="widget-box" style="width: 370px; height: 350px;">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-bar-chart-o"></i>
                            % of Risk Impact Level
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @*@Html.Partial("_riskImpactLevelARiskView")*@
                            <div id="columnchart_values4"></div>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div>

            </div>
            <div class="col-md-4">
                <div class="widget-box" style="width: 370px; height: 350px;">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-bar-chart-o"></i>
                            Quarter number of Risks Target
                        </h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            @*@Html.Partial("_targetQuarterARiskView")*@
                            <div id="columnchart_values5"></div>
                        </div><!-- /.widget-main -->
                    </div><!-- /.widget-body -->
                </div>

            </div>
        </div>
    </div>
</div>

<div id="graphImages" style='display:none'></div>

@section Scripts {
<script type="text/javascript" src="~/Scripts/jspdf.debug.js"></script>
    <script type="text/javascript">
        var chartData;
        var chartData1;
        var chartData2;
        var chartData3;
        var chartData4;
        var chartData5;

        colors2 = {
            'High': 'red',
            'Medium': '#FFCC33',
            'Low': '#008C00',
        };

        function colorsArray2(data) {
            var array = [];
            for (var i = 1; i < data.length; i++) {
                array.push(colors2[data[i][0]]);
            }
            return array
        }


        $(document).ready(function () {
            //AJAX call for high and medium column chart
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                //async:false,
                url: '@Url.Action("GetHighMediumARiskData", "RiskReviewBoard", new { risk = "Physical" })',
                data: "",
                //async:false,
                success: function (data) {
                    if (data.length > 1) {
                        //alert(data);
                        chartData = data;
                        drawChart();
                    }
                    else {
                        document.getElementById('columnchart_values').innerHTML = "No data available!!!"
                    }
                },
                error: function () {
                    alert("Error loading data! Please try again.");
                }
            }).done(function () {

            });

            //AJAX call for ststus wise Risk Data chart
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("GetStatuswiseARiskData", "RiskReviewBoard", new { risk = "Physical" })',
                data: "",
                //async: false,
                success: function (data1) {
                    if (data1.length > 1) {
                        chartData1 = data1;
                        //alert(data);
                        drawChart1();
                    }
                    else {
                        document.getElementById('columnchart_values1').innerHTML = "No data available!!!"
                    }
                },
                error: function () {
                    alert("Error loading data! Please try again.");
                }
            }).done(function () {

            });

            //AJAX call for risk based RE level chart
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("GetRELARiskData", "RiskReviewBoard", new { risk = "Physical" })',
                //async: false,
                data: "",
                success: function (data2) {
                    if (data2.length > 1) {
                        chartData2 = data2;
                        //alert(data);
                        drawChart2();
                    }
                    else {
                        document.getElementById('columnchart_values2').innerHTML = "No data available!!!"
                    }
                },
                error: function () {
                    alert("Error loading data! Please try again.");
                }
            }).done(function () {

            });

            //AJAX call for risk based on Impact Category chart
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("GetImpactCategoryARiskData", "RiskReviewBoard", new { risk = "Physical" })',
                //async: false,
                data: "",
                success: function (data3) {
                    if (data3.length > 1) {
                        chartData3 = data3;
                        //alert(data);
                        drawChart3();
                    }
                    else {
                        document.getElementById('columnchart_values3').innerHTML = "No data available!!!"
                    }
                },
                error: function () {
                    alert("Error loading data! Please try again.");
                }
            }).done(function () {

            });

            //AJAX call for risk based on Impact Level chart
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("GetImpactLevelARiskData", "RiskReviewBoard", new { risk = "Physical" })',
                // async: false,
                data: "",
                success: function (data4) {
                    if (data4.length > 1) {
                        chartData4 = data4;
                        //alert(data);
                        drawChart4();
                    }
                    else {
                        document.getElementById('columnchart_values4').innerHTML = "No data available!!!"
                    }
                },
                error: function () {
                    alert("Error loading data! Please try again.");
                }
            }).done(function () {

            });

            //AJAX call for risk based on Target Quarter chart
            $.ajax({
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                url: '@Url.Action("GetTargetQuarterARiskData", "RiskReviewBoard", new { risk = "Physical" })',
                data: "",
                //async: false,
                success: function (data5) {
                    if (data5.length > 1) {
                        // alert(data5);
                        chartData5 = data5;
                        drawChart5();
                    }
                    else {
                        document.getElementById('columnchart_values5').innerHTML = "No data available!!!"
                    }
                },
                error: function () {
                    alert("Error loading data! Please try again.");
                }
            }).done(function () {

            });

        });




    function drawChart() {
       // alert(chartData);
        var data = google.visualization.arrayToDataTable(chartData);
        var options;
        if (chartData[1][2] < 6 && chartData[1][1] < 6) {
            options = {
                //title: "Number of High and Medium Risks",
                width: 350,
                height: 250,
                legend: { position: 'bottom', textStyle: { fontSize: 10 } },
                vAxis: {
                    gridlines: {
                        color: 'transparent'
                    },
                    minValue: 0,
                    ticks: [1, 2, 3, 4, 5],
                    format: '#'
                },
                colors: ['#FFCC33', 'red']
            };

        }
        else {
            options = {
                //title: "Number of High and Medium Risks",
                width: 350,
                height: 250,
                legend: { position: 'bottom', textStyle: { fontSize: 10 } },
                vAxis: {
                    gridlines: {
                        color: 'transparent'
                    },
                    minValue: 0,
                    format: '#'
                },
                colors: ['#FFCC33', 'red']
            };
        }

        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        google.visualization.events.addListener(chart, 'ready', function () {
            var content = '<img src="' + chart.getImageURI() + '">';
            $('#graphImages').append(content);
        }); /* Adds a listener to make a image of chart inside a #graph-images*/
        chart.draw(data, options);


    }

    function drawChart1() {

        var data1 = google.visualization.arrayToDataTable(chartData1);

        var options1 = {
            width: 350,
            height: 250,
            legend: { position: 'bottom', textStyle: { fontSize: 10 } }
            // title: 'Statuswise number of Risks'
        };

        var chart1 = new google.visualization.PieChart(document.getElementById("columnchart_values1"));
        google.visualization.events.addListener(chart1, 'ready', function () {
            var content = '<img src="' + chart1.getImageURI() + '">';
            $('#graphImages').append(content);
        }); /* Adds a listener to make a image of chart inside a #graph-images*/
        chart1.draw(data1, options1);
    }

    function drawChart2() {

        var data2 = google.visualization.arrayToDataTable(chartData2);

        var options2 = {
            width: 350,
            height: 250,
            legend: { position: 'bottom', textStyle: { fontSize: 10 } },
            colors: colorsArray2(chartData2)
            //title: 'Risk Exposure Level based Risks'
        };

        var chart2 = new google.visualization.PieChart(document.getElementById("columnchart_values2"));
        google.visualization.events.addListener(chart2, 'ready', function () {
            var content = '<img src="' + chart2.getImageURI() + '">';
            $('#graphImages').append(content);
        }); /* Adds a listener to make a image of chart inside a #graph-images*/
        chart2.draw(data2, options2);
    }

    function drawChart3() {

        var data3 = google.visualization.arrayToDataTable(chartData3);

        var options3 = {
            width: 350,
            height: 250,
            legend: { position: 'bottom', textStyle: { fontSize: 10 } },
            //title: '% of Risk Impact Category'
        };

        var chart3 = new google.visualization.PieChart(document.getElementById("columnchart_values3"));
        google.visualization.events.addListener(chart3, 'ready', function () {
            var content = '<img src="' + chart3.getImageURI() + '">';
            $('#graphImages').append(content);
        }); /* Adds a listener to make a image of chart inside a #graph-images*/
        chart3.draw(data3, options3);
    }

    function drawChart4() {

        var data4 = google.visualization.arrayToDataTable(chartData4);

        var options4 = {
            width: 350,
            height: 250,
            legend: { position: 'bottom', textStyle: { fontSize: 10 } },
            colors: colorsArray2(chartData4)
            // title: '% of Risk Impact Level'
        };

        var chart4 = new google.visualization.PieChart(document.getElementById("columnchart_values4"));
        google.visualization.events.addListener(chart4, 'ready', function () {
            var content = '<img src="' + chart4.getImageURI() + '">';            
            $('#graphImages').append(content);
        }); /* Adds a listener to make a image of chart inside a #graph-images*/
        chart4.draw(data4, options4);
    }

    function drawChart5() {

        var data5 = google.visualization.arrayToDataTable(chartData5);
        var changeScale = true;
        $.each(chartData5, function (i, val) {
            if (i > 0 && changeScale == true) {
                if (chartData5[i][1] > 5) {
                    changeScale = false;
                }
            }
        });

        var options5;
        if (changeScale) {
            options5 = {
                // title: "Quarterwise no of risks Target",
                width: 350,
                height: 250,
                legend: { position: 'bottom', textStyle: { fontSize: 10 } },
                vAxis: {
                    gridlines: {
                        color: 'transparent'
                    },
                    minValue: 0,
                    ticks: [1, 2, 3, 4, 5],
                    format: '0'
                }
            };
        }
        else {
            options5 = {
                // title: "Quarterwise no of risks Target",
                width: 350,
                height: 250,
                legend: { position: 'bottom', textStyle: { fontSize: 10 } },
                vAxis: {
                    gridlines: {
                        color: 'transparent'
                    },
                    minValue: 0,
                    format: '0'
                }
            };
        }

        var chart5 = new google.visualization.ColumnChart(document.getElementById("columnchart_values5"));
        google.visualization.events.addListener(chart5, 'ready', function () {
            var content = '<img src="' + chart5.getImageURI() + '">';           
            $('#graphImages').append(content);
        }); /* Adds a listener to make a image of chart inside a #graph-images*/

        chart5.draw(data5, options5);


    }
    
    var splitRegex = /\r\n|\r|\n/g;
    jsPDF.API.textEx = function (text, x, y, hAlign, vAlign) {
        var fontSize = this.internal.getFontSize() / this.internal.scaleFactor;

        // As defined in jsPDF source code
        var lineHeightProportion = 1.15;

        var splittedText = null;
        var lineCount = 1;
        if (vAlign === 'middle' || vAlign === 'bottom' || hAlign === 'center' || hAlign === 'right') {
            splittedText = typeof text === 'string' ? text.split(splitRegex) : text;

            lineCount = splittedText.length || 1;
        }

        // Align the top
        y += fontSize * (2 - lineHeightProportion);

        if (vAlign === 'middle')
            y -= (lineCount / 2) * fontSize;
        else if (vAlign === 'bottom')
            y -= lineCount * fontSize;

        if (hAlign === 'center' || hAlign === 'right') {
            var alignSize = fontSize;
            if (hAlign === 'center')
                alignSize *= 0.5;

            if (lineCount > 1) {
                for (var iLine = 0; iLine < splittedText.length; iLine++) {
                    this.text(splittedText[iLine], x - this.getStringUnitWidth(splittedText[iLine]) * alignSize, y);
                    y += fontSize;
                }
                return this;
            }
            x -= this.getStringUnitWidth(text) * alignSize;
        }

        this.text(text, x, y);
        return this;
    };

    $('#download').click(function () {

        var doc = new jsPDF('p', 'pt', 'a4', false) /* Creates a new Document*/
        doc.setFontSize(15); /* Define font size for the document */
        doc.textEx('Indidge Systems', 350, 10, 'right', 'middle');

        var yAxis = 30;
        var imageTags = $('#graphImages img');
        
        for (var i = 0; i < imageTags.length; i++) {
            if (i % 2 == 0 && i != 0) { /* I want only two images in a page */
                doc.addPage();  /* Adds a new page*/
                yAxis = 30; /* Re-initializes the value of yAxis for newly added page*/
            }
            var someText = 'Chart ' + (i + 1);
            doc.text(60, yAxis, someText); /* Add some text in the PDF */
            yAxis = yAxis + 20; /* Update yAxis */
            doc.addImage(imageTags[i], 'jpg', 40, yAxis, 530, 350, undefined, 'none');
            yAxis = yAxis + 360; /* Update yAxis */
        }


        doc.save('Chart_Report' + '.pdf') /* Prompts user to save file on his/her machine */
    });


    </script>
}


