﻿@{
    ViewBag.Title = "Technology Risk Assessment List";
    Layout = "~/Views/Shared/_LayoutTechnology.cshtml";
}

<div class="main-content-inner">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue"> </h3>
            <div class="table-header">
                Technology Risk Assessment List
            </div>
            @*<div>*@
                  <h6 class="smaller">&nbsp;* Risks pending with user</h6>
                  <h6 class="blue smaller">&nbsp;* Risks sent for Approval</h6>
                  <h6 class="green smaller">&nbsp;* Approved Risks</h6>
                <table id="TableList" class="table table-striped table-bordered table-hover">
                    <thead style="background-color:red;">
                        <tr>
                            <td style="font-weight:lighter; color:white; background-color:#6faed9;">ID</td>
                            <td style="font-weight:lighter; color:white; background-color:#6faed9;">Risk Id</td>
                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Asset Class</td>
                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Asset Name</td>
                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Assessed Date</td>
                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Risk Description</td>
                            <td style="font-weight:lighter;color:white; background-color:#6faed9;">Actions</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            @*</div>*@
        </div>
    </div>
</div> 


    @section Scripts{

        @Scripts.Render("~/bundles/RiskAssessment")
        <!--<script type="text/javascript" src="~/Scripts/Areas/RiskAssessment/RiskAssessment.js"></script>-->
        <script type="text/javascript">
            $(document).ready(function () {
                DisplayLeaveRequests("Technology", "Edit");
            });
        </script>
    }









